<div class="col-form">
    <form class="form-inline" role="form">
        <span>本店分类</span>
        <div class="form-group">
            <select class="form-control">
                <option>请选择...</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <div class="form-group">
            <select class="form-control">
              <option>请选择...</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
          </select>
        </div>
        <div class="input-group">
            <input type="text" class="form-control auto-complete-content" />
            <input type="hidden" name="test" class="auto-complete-value"/>
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">搜索<tton>
            </span>
            <!-- <ul class="auto-complete-viewport">
            </ul> -->
        </div>
        <div class="input-group">
            <input type="text" class="form-control text-ra">
        </div>
        <div class="input-group">
            <input type="text" id="skinblue" class="form-control skinblue  text-ra workinput wicon pr30 w210" placeholder="YYYY年MM月DD日 hh:mm:ss">
        </div>
    </form>
</div>
<div class="add-item">
    <ul>
        <li class="text-right">
            <a href="#" class="btn btn-info"><i class="icon-plus"></i> 添加商品</a>
            <a href="#" class="btn btn-info"><i class="icon-plus"></i> 添加定单</a>
        </li>
    </ul>
</div>
<div class="prompt-box">

    <ul>
        <li class="top-prompt">
            <h3>操作提示 <i class="icon-caret-down"></i></h3>
        </li>
        <li class="list-desc">
            <p><i class="icon-circle"></i>点击查看操作将显示订单（包括订单物品）的详细信息</p>
            <p><i class="icon-circle"></i>点击查看操作将显示订单（包括订单物品）的详细信息</p>
            <p><i class="icon-circle"></i>点击查看操作将显示订单（包括订单物品）的详细信息</p>
        </li>
    </ul>
</div>
<div class="table-form-default">
    <table class="table">
        <tr>

            <th class="w10">
                <!-- 商品图片占位 -->
            </th>
            <th class="">商品名称</th>
            <th class="w150">价格</th>
            <th class="w150">库存</th>
            <th class="w150">发布时间</th>
            <th class="w150">操作</th>
        </tr>

        <tr class="">
            <td colspan="6">
                <!-- 占位一行 -->
            </td>
        </tr>

        <tr class="goods-tr-bg">

            <td colspan="6">
                <label for="checkbox_a2" class="text-left pr15">平台货号：10086</label>
            </td>
        </tr>
        <tr class="goods-tr-t0">

            <td>
                <a href="#" class="bt-images"><img src="{$Think.IMG_PATH}pt-img1.jpg" alt=""></a>
            </td>
            <td class="text-left">
                <dl class="goods-name">
                    <dt><a href="#">复古浮雕水杯 加厚玻璃杯子家用透明可爱玻璃杯大号创意果汁杯</a></dt>
                    <dd>商家货号：1983693203980238930</dd>
                </dl>
            </td>
            <td>¥59.95</td>
            <td>320件</td>
            <td>2016-10-01</td>
            <td class="table-handle">
                <span>
              <a href="#"><i class="icon-pencil"></i>编辑</a>
            </span>
                <span>
              <a href="#"><i class="icon-trash"></i>删除</a>
            </span>
            </td>
        </tr>
        <tr class="goods-tr-t0">

            <td>
                <a href="#" class="bt-images"><img src="{$Think.IMG_PATH}pt-img1.jpg" alt=""></a>
            </td>
            <td class="text-left">
                <dl class="goods-name">
                    <dt><a href="#">复古浮雕水杯 加厚玻璃杯子家用透明可爱玻璃杯大号创意果汁杯</a></dt>
                    <dd>商家货号：1983693203980238930</dd>
                </dl>
            </td>
            <td>¥59.95</td>
            <td>320件</td>
            <td>2016-10-01</td>
            <td class="table-handle">
                <span>
              <a href="#"><i class="icon-pencil"></i>编辑</a>
            </span>
                <span>
              <a href="#"><i class="icon-trash"></i>删除</a>
            </span>
            </td>
        </tr>
        <tr class="goods-tr-t0">

            <td>
                <a href="#" class="bt-images"><img src="{$Think.IMG_PATH}pt-img1.jpg" alt=""></a>
            </td>
            <td class="text-left">
                <dl class="goods-name">
                    <dt><a href="#">复古浮雕水杯 加厚玻璃杯子家用透明可爱玻璃杯大号创意果汁杯</a></dt>
                    <dd>商家货号：1983693203980238930</dd>
                </dl>
            </td>
            <td>¥59.95</td>
            <td>320件</td>
            <td>2016-10-01</td>
            <td class="table-handle">
                <span>
              <a href="#"><i class="icon-pencil"></i>编辑</a>
            </span>
                <span>
              <a href="#"><i class="icon-trash"></i>删除</a>
            </span>
            </td>
        </tr>

        <tr class="pagelist">
            <td colspan="6">
                <div>
                    <ul>
                        <li>
                            <a href="#">
                                << </a>
                        </li>
                        <li>
                            <a href="#">
                                < </a>
                        </li>
                        <li><a href="#" class="cus"> 1 </a></li>
                        <li><a href="#"> 2 </a></li>
                        <li><a href="#"> 3 </a></li>
                        <li><a href="#"> > </a></li>
                        <li><a href="#"> >> </a></li>
                    </ul>
                </div>
            </td>
        </tr>
    </table>
</div>


<!-- 按钮组 -->
<div class="btn-box">
    <!-- Standard button -->
    <button type="button" class="btn btn-info">下一步 填写订单</button>
    <button type="button" class="btn btn-warning">下一步 填写订单</button>
    <button type="button" class="btn btn-info"><i class="icon-cut"></i> 下一步 填写订单</button>
    <button type="button" class="btn btn-warning"><i class="icon-link"></i> 下一步 填写订单</button>
    <button type="button" class="btn btn-info max-bg">大号 下一步 填写订单</button>
    <button type="button" class="btn btn-warning max-bg">大号 下一步 填写订单</button>

    <div class="btn-group btn-box-qh">
        <button type="button" class="btn btn-default cus">否</button>
        <button type="button" class="btn btn-default">是</button>
    </div>
</div>

<!-- 表单组 -->
<div class="sheet-box">
    <form class="" action="index.html" method="post">
        <table class="table">
            <tr class="goods-tr-bg">
                <th colspan="4">
                    <h3>商品基本信息</h3>
                </th>
            </tr>
            <tr>
                <td class="w90">
                    <div>
                        <h3>文件上传</h3>
                    </div>
                </td>
                <td>
                    <div class="col-xs-11">
                        <div class="input-group">
                            <input type="text" class="form-control h30">
                            <span class="input-group-btn">
                              <a href="javascript:void(0)" class="btn btn-default btn_addfile">
                                <span><i class="icon-circle-arrow-up"></i> 文件上传</span>
                                <input type="file" class="form-control">
                            </a>
                            </span>
                        </div>
                    </div>
                </td>
                <td class="w90">
                    <div>
                        <h3>文件上传 <span>*</span></h3>
                    </div>
                </td>
                <td>
                    <div class="col-xs-11">
                        <div class="input-group">
                            <input type="text" class="form-control h30">
                            <span class="input-group-btn">
                              <!-- <button type='file' class="btn btn-default" type="button">Go!</button> -->
                              <a href="javascript:void(0)" class="btn btn-default btn_addfile">
                                <span><i class="icon-circle-arrow-up"></i> 文件上传</span>
                            <input type="file" class="form-control">
                            </a>
                            </span>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <h3>文件上传</h3>
                    </div>
                </td>
                <td>
                    <div class="col-xs-11">
                        <div class="one-text">
                            <input type="text" class="form-control skinblue h30 mb5">
                            <span>这里是一段文字描述</span>
                        </div>
                    </div>
                </td>
                <td>
                    <div>
                        <h3>文件上传</h3>
                    </div>
                </td>
                <td>
                    <div class="col-xs-11">
                        <div class="one-text">
                            <textarea name="name" rows="4" class="form-control"></textarea>
                        </div>
                    </div>
                </td>
            </tr>


            <tr>
                <td>
                    <h3>权限设置</h3>
                </td>
                <td colspan="3">
                    <div class="item-list-chkbox">
                        <div class="all-chkbox">
                            <input type="checkbox" id="list_c_1_all" class="chk_1 all-list" />
                            <label for="list_c_1_all" class="lab-t"></label>
                            <label for="list_c_1_all" class="font-min"><strong>界面样列</strong></label>
                        </div>
                        <ul class="chk-one">
                            <li>
                                <input type="checkbox" id="list_c_1" class="chk_1" />
                                <label for="list_c_1" class="lab-t"></label>
                                <label for="list_c_1" class="font-min">商品</label>
                            </li>
                            <li>
                                <input type="checkbox" id="list_c_2" class="chk_1" />
                                <label for="list_c_2" class="lab-t"></label>
                                <label for="list_c_2" class="font-min">商品</label>
                            </li>
                            <li>
                                <input type="checkbox" id="list_c_3" class="chk_1" />
                                <label for="list_c_3" class="lab-t"></label>
                                <label for="list_c_3" class="font-min">商品</label>
                            </li>
                            <li>
                                <input type="checkbox" id="list_c_3" class="chk_1" />
                                <label for="list_c_3" class="lab-t"></label>
                                <label for="list_c_3" class="font-min">商品</label>
                            </li>
                            <li>
                                <input type="checkbox" id="list_c_3" class="chk_1" />
                                <label for="list_c_3" class="lab-t"></label>
                                <label for="list_c_3" class="font-min">商品</label>
                            </li>
                            <li>
                                <input type="checkbox" id="list_c_3" class="chk_1" />
                                <label for="list_c_3" class="lab-t"></label>
                                <label for="list_c_3" class="font-min">商品</label>
                            </li>
                            <li>
                                <input type="checkbox" id="list_c_3" class="chk_1" />
                                <label for="list_c_3" class="lab-t"></label>
                                <label for="list_c_3" class="font-min">商品</label>
                            </li>
                            <li>
                                <input type="checkbox" id="list_c_3" class="chk_1" />
                                <label for="list_c_3" class="lab-t"></label>
                                <label for="list_c_3" class="font-min">商品</label>
                            </li>
                            <li>
                                <input type="checkbox" id="list_c_3" class="chk_1" />
                                <label for="list_c_3" class="lab-t"></label>
                                <label for="list_c_3" class="font-min">商品</label>
                            </li>
                            <li>
                                <input type="checkbox" id="list_c_3" class="chk_1" />
                                <label for="list_c_3" class="lab-t"></label>
                                <label for="list_c_3" class="font-min">商品</label>
                            </li>
                            <li>
                                <input type="checkbox" id="list_c_3" class="chk_1" />
                                <label for="list_c_3" class="lab-t"></label>
                                <label for="list_c_3" class="font-min">商品</label>
                            </li>
                            <li>
                                <input type="checkbox" id="list_c_3" class="chk_1" />
                                <label for="list_c_3" class="lab-t"></label>
                                <label for="list_c_3" class="font-min">商品</label>
                            </li>
                            <li>
                                <input type="checkbox" id="list_c_3" class="chk_1" />
                                <label for="list_c_3" class="lab-t"></label>
                                <label for="list_c_3" class="font-min">商品</label>
                            </li>
                            <li>
                                <input type="checkbox" id="list_c_3" class="chk_1" />
                                <label for="list_c_3" class="lab-t"></label>
                                <label for="list_c_3" class="font-min">商品</label>
                            </li>
                            <li>
                                <input type="checkbox" id="list_c_3" class="chk_1" />
                                <label for="list_c_3" class="lab-t"></label>
                                <label for="list_c_3" class="font-min">商品</label>
                            </li>
                            <li>
                                <input type="checkbox" id="list_c_4" class="chk_1" />
                                <label for="list_c_4" class="lab-t"></label>
                                <label for="list_c_4" class="font-min">商品</label>
                            </li>
                        </ul>
                    </div>
                    <div class="lyer-list-zbox">
                        <div class="list-zbox all-chkbox">
                            <input type="checkbox" id="list_c_1_allz2" class="chk_1 all-list" />
                            <label for="list_c_1_allz2" class="lab-t"></label>
                            <label for="list_c_1_allz2" class="font-min"><strong>商品2</strong></label>
                        </div>
                        <div class="child-list-chk-box">
                            <div class="item-list-chkbox">
                                <div class="all-chkbox">
                                    <input type="checkbox" id="list_c_1_all1" class="chk_1 all-list" />
                                    <label for="list_c_1_all1" class="lab-t"></label>
                                    <label for="list_c_1_all1" class="font-min"><strong>商品1</strong></label>
                                </div>
                                <ul class="chk-one">
                                    <li>
                                        <input type="checkbox" id="list_c_1" class="chk_1" />
                                        <label for="list_c_1" class="lab-t"></label>
                                        <label for="list_c_1" class="font-min">商品</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="list_c_2" class="chk_1" />
                                        <label for="list_c_2" class="lab-t"></label>
                                        <label for="list_c_2" class="font-min">商品</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="list_c_3" class="chk_1" />
                                        <label for="list_c_3" class="lab-t"></label>
                                        <label for="list_c_3" class="font-min">商品</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="list_c_3" class="chk_1" />
                                        <label for="list_c_3" class="lab-t"></label>
                                        <label for="list_c_3" class="font-min">商品</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="list_c_3" class="chk_1" />
                                        <label for="list_c_3" class="lab-t"></label>
                                        <label for="list_c_3" class="font-min">商品</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="list_c_3" class="chk_1" />
                                        <label for="list_c_3" class="lab-t"></label>
                                        <label for="list_c_3" class="font-min">商品</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="list_c_3" class="chk_1" />
                                        <label for="list_c_3" class="lab-t"></label>
                                        <label for="list_c_3" class="font-min">商品</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="list_c_3" class="chk_1" />
                                        <label for="list_c_3" class="lab-t"></label>
                                        <label for="list_c_3" class="font-min">商品</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="list_c_3" class="chk_1" />
                                        <label for="list_c_3" class="lab-t"></label>
                                        <label for="list_c_3" class="font-min">商品</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="list_c_3" class="chk_1" />
                                        <label for="list_c_3" class="lab-t"></label>
                                        <label for="list_c_3" class="font-min">商品</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="list_c_3" class="chk_1" />
                                        <label for="list_c_3" class="lab-t"></label>
                                        <label for="list_c_3" class="font-min">商品</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="list_c_3" class="chk_1" />
                                        <label for="list_c_3" class="lab-t"></label>
                                        <label for="list_c_3" class="font-min">商品</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="list_c_3" class="chk_1" />
                                        <label for="list_c_3" class="lab-t"></label>
                                        <label for="list_c_3" class="font-min">商品</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="list_c_3" class="chk_1" />
                                        <label for="list_c_3" class="lab-t"></label>
                                        <label for="list_c_3" class="font-min">商品</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="list_c_3" class="chk_1" />
                                        <label for="list_c_3" class="lab-t"></label>
                                        <label for="list_c_3" class="font-min">商品</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="list_c_4" class="chk_1" />
                                        <label for="list_c_4" class="lab-t"></label>
                                        <label for="list_c_4" class="font-min">商品</label>
                                    </li>
                                </ul>
                            </div>
                            <div class="item-list-chkbox">
                                <div class="all-chkbox">
                                    <input type="checkbox" id="list_c_1_all2" class="chk_1 all-list" />
                                    <label for="list_c_1_all2" class="lab-t"></label>
                                    <label for="list_c_1_all2" class="font-min"><strong>商品2</strong></label>
                                </div>
                                <ul class="chk-one">
                                    <li>
                                        <input type="checkbox" id="list_c_1" class="chk_1" />
                                        <label for="list_c_1" class="lab-t"></label>
                                        <label for="list_c_1" class="font-min">商品</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="list_c_2" class="chk_1" />
                                        <label for="list_c_2" class="lab-t"></label>
                                        <label for="list_c_2" class="font-min">商品</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="list_c_3" class="chk_1" />
                                        <label for="list_c_3" class="lab-t"></label>
                                        <label for="list_c_3" class="font-min">商品</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="list_c_3" class="chk_1" />
                                        <label for="list_c_3" class="lab-t"></label>
                                        <label for="list_c_3" class="font-min">商品</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="list_c_3" class="chk_1" />
                                        <label for="list_c_3" class="lab-t"></label>
                                        <label for="list_c_3" class="font-min">商品</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="list_c_3" class="chk_1" />
                                        <label for="list_c_3" class="lab-t"></label>
                                        <label for="list_c_3" class="font-min">商品</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="list_c_3" class="chk_1" />
                                        <label for="list_c_3" class="lab-t"></label>
                                        <label for="list_c_3" class="font-min">商品</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="list_c_3" class="chk_1" />
                                        <label for="list_c_3" class="lab-t"></label>
                                        <label for="list_c_3" class="font-min">商品</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="list_c_3" class="chk_1" />
                                        <label for="list_c_3" class="lab-t"></label>
                                        <label for="list_c_3" class="font-min">商品</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="list_c_3" class="chk_1" />
                                        <label for="list_c_3" class="lab-t"></label>
                                        <label for="list_c_3" class="font-min">商品</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="list_c_3" class="chk_1" />
                                        <label for="list_c_3" class="lab-t"></label>
                                        <label for="list_c_3" class="font-min">商品</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="list_c_3" class="chk_1" />
                                        <label for="list_c_3" class="lab-t"></label>
                                        <label for="list_c_3" class="font-min">商品</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="list_c_3" class="chk_1" />
                                        <label for="list_c_3" class="lab-t"></label>
                                        <label for="list_c_3" class="font-min">商品</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="list_c_3" class="chk_1" />
                                        <label for="list_c_3" class="lab-t"></label>
                                        <label for="list_c_3" class="font-min">商品</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="list_c_3" class="chk_1" />
                                        <label for="list_c_3" class="lab-t"></label>
                                        <label for="list_c_3" class="font-min">商品</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="list_c_4" class="chk_1" />
                                        <label for="list_c_4" class="lab-t"></label>
                                        <label for="list_c_4" class="font-min">商品</label>
                                    </li>
                                </ul>
                            </div>

                        </div>

                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <h3>图标集锦 <span>*</span></h3>
                    </div>
                </td>
                <td colspan="3" class="table-handle">
                    <span>
                                <a href="#"><i class="icon-pencil"></i>编辑</a>
                              </span>
                    <span>
                                <a href="#"><i class="icon-trash"></i>删除</a>
                              </span>
                    <span>
                                <a href="#"><i class="icon-lock"></i>锁定</a>
                              </span>
                    <span>
                                <a href="#"><i class="icon-unlock"></i>解锁</a>
                              </span>
                    <span>
                                <a href="#"><i class="icon-wrench"></i>处理</a>
                              </span>
                    <span>
                                <a href="#"><i class="icon-remove"></i>取消定单</a>
                              </span>
                </td>
            </tr>

            <tr>
                <td>
                    <div>
                        <h3>图标集锦 <span>*</span></h3>
                    </div>
                </td>
                <td colspan="3">
                    <div class="uploadimg">

                    </div>
                    <div class="btn-up-zbox">
                        <div class="clear"></div>
                        <span class="input-group-btn one-text">
                        <a href="javascript:void(0)" class="btn btn-default btn_addfile btn-one-upload">
                          <span><i class="icon-circle-arrow-up"></i> 图片上传</span>
                        </a>
                        </span>
                    </div>

                </td>
            </tr>

            <tr>
                <td>
                    <h3>文章编辑</h3>
                </td>
                <td colspan="3">
                    <script id="editor" type="text/plain" style="width:100%;height:500px;"></script>
                </td>
            </tr>

            <tr class="b0">
                <td colspan="4" class="b0">
                    <div class="text-center">
                        <button type="button" class="btn btn-warning max-bg">大号 下一步 填写订单</button>
                    </div>

                </td>
            </tr>

        </table>
    </form>
</div>
<!-- tree 列表 -->
<div class="table-form-default">

    <table class="table">
        <tr>
            <th class="w10">
                <!-- 按钮占位 -->
            </th>

            <th class="w10">
            </th>
            <th class="w50">排序</th>
            <th class="w380">分类名称</th>
            <th></th>
            <th class="w150">操作</th>
        </tr>
        <tr>
            <td colspan="6"></td>
        </tr>

        <tr class="goods-tr-t0 chk-one main-next">
            <td>
                <input type="checkbox" id="checkbox_a2" class="chk_1" />
                <label for="checkbox_a2" class="lab-t"></label>
            </td>
            <td>
                <i class="icon-folder-close-alt in"></i>
            </td>
            <td>
                <div class="one-text sort">
                    <input type="text" class="form-control h30 w50" value="0">
                </div>
            </td>


            <td class="text-left">
                <div class="input-group tree-next">
                    <input type="text" class="form-control h30">
                    <span class="input-group-btn">
                                <button class="btn btn-default h30" type="button"><i class=" icon-plus-sign"></i> 新增下级</button>
                              </span>
                </div>
            </td>
            <td></td>
            <td class="table-handle">
                <span>
                          <a href="#"><i class="icon-pencil"></i>编辑</a>
                        </span>
            </td>
        </tr>
        <tr class="goods-tr-t0 chk-one child-next none">
            <td>
                <input type="checkbox" id="checkbox_a3" class="chk_1" />
                <label for="checkbox_a3" class="lab-t"></label>
            </td>
            <td>
                <i class="in icon-folder-close-alt"></i>
            </td>
            <td>
                <div class="one-text sort">
                    <input type="text" class="form-control h30 w50" value="0">
                </div>
            </td>

            <td class="text-left">
                <div class="input-group tree-next">
                    <span class="input-group-addon"><img src="{$Think.IMG_PATH}tree-list1.gif" alt="" /></span>

                    <input type="text" class="form-control h30">
                    <span class="input-group-btn">
                                <button class="btn btn-default h30" type="button"><i class=" icon-plus-sign"></i> 新增下级</button>
                              </span>
                </div>
            </td>
            <td></td>
            <td class="table-handle">
                <span>
                          <a href="#"><i class="icon-pencil"></i>编辑</a>
                        </span>
                <span>
                          <a href="#"><i class="icon-trash"></i>删除</a>
                        </span>
            </td>
        </tr>
        <tr class="goods-tr-t0 chk-one child-next-x none">
            <td>
                <input type="checkbox" id="checkbox_a4" class="chk_1" />
                <label for="checkbox_a4" class="lab-t"></label>
            </td>
            <td>
                <!-- <i class="icon-folder-close-alt in"></i> -->
            </td>
            <td>
                <div class="one-text sort">
                    <input type="text" class="form-control h30 w50" value="0">
                </div>
            </td>

            <td class="text-left">
                <div class="input-group tree-next">
                    <span class="input-group-addon pl50"><img src="{$Think.IMG_PATH}tree-list2.gif" alt="" /></span>
                    <input type="text" class="form-control h30">
                </div>
            </td>
            <td></td>
            <td class="table-handle">
                <span>
                          <a href="#"><i class="icon-pencil"></i>编辑</a>
                        </span>
                <span>
                          <a href="#"><i class="icon-trash"></i>删除</a>
                        </span>
            </td>
        </tr>
        <tr>
            <td>
                <input type="checkbox" id="checkbox_a1" class="chk_1 all" />
                <label for="checkbox_a1" class="lab-t"></label>
            </td>
            <td colspan="5">
                <label for="checkbox_a1" class="text-left pr15">全选</label>
                <div class="btn-group">
                    <button type="button" class="btn btn-default">删除</button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-default">更新排序</button>
                </div>
            </td>
        </tr>

    </table>
</div>
<!-- table切换 -->
<div class="mt-goods-spec">
    <div class="mt-bt">
        <p class="cus">编辑颜色规格</p>
        <p>编辑重量规格</p>
        <p>编辑体积规格</p>
    </div>
    <ul>
        <li class="in">
            <div class="table-form-default">
                <div class='mt-ys-fn'>
                    <div class="mt-sort">
                        <p>规格名称: 颜色</p>
                        <p>所属分类: admin</p>
                    </div>
                    <div class="add-item">
                        <ul>
                            <li class="text-right">
                                <a href="#" class="btn btn-info"><i class="icon-plus"></i> 添加商品</a>
                                <a href="#" class="btn btn-info"><i class="icon-plus"></i> 添加定单</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <table class="table">
                    <tr>
                        <th class="w50">排序</th>
                        <th class="w380">分类名称</th>
                        <th class="w150">颜色色块</th>
                        <th></th>
                        <th class="w150">操作</th>
                    </tr>
                    <tr>
                        <td colspan="5"></td>
                    </tr>

                    <tr class="goods-tr-t0 chk-one main-next">
                        <td>
                            <div class="one-text sort">
                                <input type="text" class="form-control h30 w50" value="0">
                            </div>
                        </td>
                        <td class="text-left">
                            <div class="one-text">
                                <input type="text" class="form-control h30">
                            </div>
                        </td>
                        <td>
                            <div class="one-text">
                                <input type="text" class="form-control h30 picker" size="20">
                            </div>
                        </td>

                        <td></td>
                        <td class="table-handle">
                            <span>
                                    <a href="#"><i class="icon-pencil"></i>编辑</a>
                                  </span>
                        </td>
                    </tr>

                </table>
            </div>

        </li>
        <li class="none in">
            <div class="table-form-default">
                <div class='mt-ys-fn'>
                    <div class="mt-sort">
                        <p>规格名称: 体积</p>
                        <p>所属分类: admin</p>
                    </div>
                    <div class="add-item">
                        <ul>
                            <li class="text-right">
                                <a href="#" class="btn btn-info"><i class="icon-plus"></i> 添加商品</a>
                                <a href="#" class="btn btn-info"><i class="icon-plus"></i> 添加定单</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <table class="table">
                    <tr>
                        <th class="w50">排序</th>
                        <th class="w380">分类名称</th>
                        <th class="w150">颜色色块</th>
                        <th></th>
                        <th class="w150">操作</th>
                    </tr>
                    <tr>
                        <td colspan="5"></td>
                    </tr>

                    <tr class="goods-tr-t0 chk-one main-next">
                        <td>
                            <div class="one-text sort">
                                <input type="text" class="form-control h30 w50" value="0">
                            </div>
                        </td>
                        <td class="text-left">
                            <div class="one-text">
                                <input type="text" class="form-control h30">
                            </div>
                        </td>
                        <td>
                            <div class="one-text">
                                <input type="text" class="form-control h30 picker" size="20">
                            </div>
                        </td>

                        <td></td>
                        <td class="table-handle">
                            <span>
                                    <a href="#"><i class="icon-pencil"></i>编辑</a>
                                  </span>
                        </td>
                    </tr>

                </table>
            </div>

        </li>
        <li class="none in">
            <div class="table-form-default">
                <div class='mt-ys-fn'>
                    <div class="mt-sort">
                        <p>规格名称: 重量</p>
                        <p>所属分类: admin</p>
                    </div>
                    <div class="add-item">
                        <ul>
                            <li class="text-right">
                                <a href="#" class="btn btn-info"><i class="icon-plus"></i> 添加商品</a>
                                <a href="#" class="btn btn-info"><i class="icon-plus"></i> 添加定单</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <table class="table">
                    <tr>
                        <th class="w50">排序</th>
                        <th class="w380">分类名称</th>
                        <th class="w150">颜色色块</th>
                        <th></th>
                        <th class="w150">操作</th>
                    </tr>
                    <tr>
                        <td colspan="5"></td>
                    </tr>

                    <tr class="goods-tr-t0 chk-one main-next">
                        <td>
                            <div class="one-text sort">
                                <input type="text" class="form-control h30 w50" value="0">
                            </div>
                        </td>
                        <td class="text-left">
                            <div class="one-text">
                                <input type="text" class="form-control h30">
                            </div>
                        </td>
                        <td>
                            <div class="one-text">
                                <input type="text" class="form-control h30 picker" size="20">
                            </div>
                        </td>

                        <td></td>
                        <td class="table-handle">
                            <span>
                                    <a href="#"><i class="icon-pencil"></i>编辑</a>
                                  </span>
                        </td>
                    </tr>

                </table>
            </div>

        </li>
    </ul>
</div>

<script type="text/javascript">
    $(function() {

        $()

        //弹出框演示
        $('.btn-primary').click(function() {
            layer.confirm('您是如何看待前端开发？', {
                btn: ['重要', '奇葩'] //按钮
            }, function() {
                layer.msg('的确很重要', {
                    icon: 1
                });
            }, function() {
                layer.msg('也可以这样', {
                    time: 20000, //20s后自动关闭
                    btn: ['明白了', '知道了']
                });
            });
        })

        $('.btn-success').click(function() {
            var index = layer.load(0, {
                shade: false
            }); //0代表加载的风格，支持0-2
            //loading层
            var index = layer.load(1, {
                shade: [0.1, '#fff'], //0.1透明度的白色背景
                time: 2000
            });
        })
        $('.btn-info').click(function() {
            //loading层
            var index = layer.load(1, {
                shade: [0.1, '#fff'], //0.1透明度的白色背景
                time: 2000
            });
        })

        $('.btn-warning').click(function() {
            //iframe层
            layer.open({
                type: 2,
                title: 'layer mobile页',
                shadeClose: true,
                shade: 0.8,
                area: ['380px', '90%'],
                content: 'http://layer.layui.com/mobile/' //iframe的url
            });
        })
        $('.btn-danger').click(function() {
            //自定页
            layer.open({
                type: 1,
                skin: 'layui-layer-demo', //样式类名
                closeBtn: 0, //不显示关闭按钮
                anim: 2,
                shadeClose: true, //开启遮罩关闭
                content: '内容'
            });
        })
        $('.btn-link').click(function() {
            //提示层
            layer.msg('玩命提示中');
        })

        //实例化编辑器
        //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
        // var ue = UE.getEditor('editor');
        var ue = new baidu.editor.ui.Editor({
            initialContent: "请在这里输入正文......",
            autoClearinitialContent: true, //focus时自动清空初始化时的内容
            //initialFrameWeight:100%,
            initialFrameHeight: 350,
            textarea: 'editorContent', //设置提交时编辑器内容的名字
            autoFloatEnabled: false,
            focus: false,
            autoHeightEnabled: false,
            sourceEditor: false,
            wordCount: false, //关闭字数统计
            elementPathEnabled: false, //关闭elementPath
            maximumWords: 10240
        });
        ue.render("editor");
    })
</script>

<script src="{$Think.JS_PATH}upload/uploader.js" charset="utf-8"></script>
<script src="{$Think.JS_PATH}upload/jquery.sortable.js" charset="utf-8"></script>
<script type="text/javascript">
    $(function() {

        $('.btn-one-upload').uploader({
            server: '/index/index/uploadFile', //上传路径
            container: '.uploadimg', //图片容器
            num: 2, //上传数量
            inputName: 'uid' //input name值
        })

    })
</script>
