<div class="col-form">
    <form class="form-inline" role="form">
        <span>本店分类</span>
        <div class="form-group">
            <select class="form-control">
                <option>请选择...</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <div class="form-group">
            <select class="form-control">
              <option>请选择...</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
          </select>
        </div>
        <div class="input-group">
            <input type="text" class="form-control skinblue">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">搜索</button>
            </span>
        </div>
    </form>
</div>
<div class="table-form-default">
    <table class="table">
        <tr>
            <th class="w10">
                <!-- 按钮占位 -->
            </th>
            <th class="w10">
                <!-- 商品图片占位 -->
            </th>
            <th class="">商品名称</th>
            <th class="w150">价格</th>
            <th class="w150">库存</th>
            <th class="w150">发布时间</th>
            <th class="w150">操作</th>
        </tr>
        <tr>
            <td>
                <input type="checkbox" id="checkbox_a1" class="chk_1 all" />
                <label for="checkbox_a1" class="lab-t"></label>
            </td>
            <td colspan="6">
                <label for="checkbox_a1" class="text-left pr15">全选</label>
                <div class="btn-group">
                    <button type="button" class="btn btn-default">删除</button>
                    <button type="button" class="btn btn-default">下架</button>
                    <button type="button" class="btn btn-default">设置广告词</button>
                    <button type="button" class="btn btn-default">设置关联版式</button>
                </div>
            </td>
        </tr>
        <tr class="goods-tr-bg">
            <td>
                <input type="checkbox" id="checkbox_a2" class="chk_1" />
                <label for="checkbox_a2" class="lab-t"></label>
            </td>
            <td colspan="6">
                <label for="checkbox_a2" class="text-left pr15">平台货号：10086</label>
            </td>
        </tr>
        <tr class="goods-tr-t0">
            <td>
                <span class="icon-angle-down in animate-left-yd" data-toggle="tooltip" data-animation="fadeInUp" data-placement="top" title="点击展开查看此商品全部规格;如超出请滚动滚动条，或拉动滚动条"></span>
            </td>
            <td>
                <a href="#" class="bt-images"><img src="{$Think.IMG_PATH}pt-img1.jpg" alt=""></a>
            </td>
            <td class="text-left">
                <dl class="goods-name">
                    <dt><a href="#">复古浮雕水杯 加厚玻璃杯子家用透明可爱玻璃杯大号创意果汁杯</a></dt>
                    <dd>商家货号：1983693203980238930</dd>
                </dl>
            </td>
            <td>¥59.95</td>
            <td>320件</td>
            <td>2016-10-01</td>
            <td class="table-handle">
                <span>
              <a href="#"><i class="icon-pencil"></i>编辑</a>
            </span>
                <span>
              <a href="#"><i class="icon-trash"></i>删除</a>
            </span>
            </td>
        </tr>
        <tr class="goods-tr-t0  goods-tr-none">
            <td colspan="7">
                <div class="goods-box">
                    <ul>
                        <li>
                            <a href="#" class="img-link"><img src="{$Think.IMG_PATH}pt-img2.jpg" alt="" /></a>
                            <p>颜色：红色</p>
                            <p>尺码：大</p>
                            <p>价格：¥59.95</p>
                            <p>库存：100</p>
                            <a href="#" class="goods-link">查看商品详情</a>
                        </li>
                        <li>
                            <a href="#" class="img-link"><img src="{$Think.IMG_PATH}pt-img3.jpg" alt="" /></a>
                            <p>颜色：红色</p>
                            <p>尺码：大</p>
                            <p>价格：¥59.95</p>
                            <p>库存：100</p>
                            <a href="#" class="goods-link">查看商品详情</a>
                        </li>
                        <li>
                            <a href="#" class="img-link"><img src="{$Think.IMG_PATH}pt-img4.jpg" alt="" /></a>
                            <p>颜色：红色</p>
                            <p>尺码：大</p>
                            <p>价格：¥59.95</p>
                            <p>库存：100</p>
                            <a href="#" class="goods-link">查看商品详情</a>
                        </li>
                        <li>
                            <a href="#" class="img-link"><img src="{$Think.IMG_PATH}pt-img2.jpg" alt="" /></a>
                            <p>颜色：红色</p>
                            <p>尺码：大</p>
                            <p>价格：¥59.95</p>
                            <p>库存：100</p>
                            <a href="#" class="goods-link">查看商品详情</a>
                        </li>
                        <li>
                            <a href="#" class="img-link"><img src="{$Think.IMG_PATH}pt-img3.jpg" alt="" /></a>
                            <p>颜色：红色</p>
                            <p>尺码：大</p>
                            <p>价格：¥59.95</p>
                            <p>库存：100</p>
                            <a href="#" class="goods-link">查看商品详情</a>
                        </li>
                        <li>
                            <a href="#" class="img-link"><img src="{$Think.IMG_PATH}pt-img4.jpg" alt="" /></a>
                            <p>颜色：红色</p>
                            <p>尺码：大</p>
                            <p>价格：¥59.95</p>
                            <p>库存：100</p>
                            <a href="#" class="goods-link">查看商品详情</a>
                        </li>
                        <li>
                            <a href="#" class="img-link"><img src="{$Think.IMG_PATH}pt-img2.jpg" alt="" /></a>
                            <p>颜色：红色</p>
                            <p>尺码：大</p>
                            <p>价格：¥59.95</p>
                            <p>库存：100</p>
                            <a href="#" class="goods-link">查看商品详情</a>
                        </li>
                        <li>
                            <a href="#" class="img-link"><img src="{$Think.IMG_PATH}pt-img3.jpg" alt="" /></a>
                            <p>颜色：红色</p>
                            <p>尺码：大</p>
                            <p>价格：¥59.95</p>
                            <p>库存：100</p>
                            <a href="#" class="goods-link">查看商品详情</a>
                        </li>
                        <li>
                            <a href="#" class="img-link"><img src="{$Think.IMG_PATH}pt-img4.jpg" alt="" /></a>
                            <p>颜色：红色</p>
                            <p>尺码：大</p>
                            <p>价格：¥59.95</p>
                            <p>库存：100</p>
                            <a href="#" class="goods-link">查看商品详情</a>
                        </li>
                        <li>
                            <a href="#" class="img-link"><img src="{$Think.IMG_PATH}pt-img2.jpg" alt="" /></a>
                            <p>颜色：红色</p>
                            <p>尺码：大</p>
                            <p>价格：¥59.95</p>
                            <p>库存：100</p>
                            <a href="#" class="goods-link">查看商品详情</a>
                        </li>
                        <li>
                            <a href="#" class="img-link"><img src="{$Think.IMG_PATH}pt-img3.jpg" alt="" /></a>
                            <p>颜色：红色</p>
                            <p>尺码：大</p>
                            <p>价格：¥59.95</p>
                            <p>库存：100</p>
                            <a href="#" class="goods-link">查看商品详情</a>
                        </li>
                        <li>
                            <a href="#" class="img-link"><img src="{$Think.IMG_PATH}pt-img4.jpg" alt="" /></a>
                            <p>颜色：红色</p>
                            <p>尺码：大</p>
                            <p>价格：¥59.95</p>
                            <p>库存：100</p>
                            <a href="#" class="goods-link">查看商品详情</a>
                        </li>
                        <li>
                            <a href="#" class="img-link"><img src="{$Think.IMG_PATH}pt-img2.jpg" alt="" /></a>
                            <p>颜色：红色</p>
                            <p>尺码：大</p>
                            <p>价格：¥59.95</p>
                            <p>库存：100</p>
                            <a href="#" class="goods-link">查看商品详情</a>
                        </li>
                        <li>
                            <a href="#" class="img-link"><img src="{$Think.IMG_PATH}pt-img3.jpg" alt="" /></a>
                            <p>颜色：红色</p>
                            <p>尺码：大</p>
                            <p>价格：¥59.95</p>
                            <p>库存：100</p>
                            <a href="#" class="goods-link">查看商品详情</a>
                        </li>
                        <li>
                            <a href="#" class="img-link"><img src="{$Think.IMG_PATH}pt-img4.jpg" alt="" /></a>
                            <p>颜色：红色</p>
                            <p>尺码：大</p>
                            <p>价格：¥59.95</p>
                            <p>库存：100</p>
                            <a href="#" class="goods-link">查看商品详情</a>
                        </li>
                    </ul>
                </div>

            </td>


        </tr>
        <tr>
            <td colspan="7">
                <!-- 占位 -->
            </td>
        </tr>
        <tr class="goods-tr-bg">
            <td>
                <input type="checkbox" id="checkbox_a3" class="chk_1" />
                <label for="checkbox_a3" class="lab-t"></label>
            </td>
            <td colspan="6">
                <label for="checkbox_a3" class="text-left pr15">平台货号：10086</label>
            </td>
        </tr>
        <tr class="goods-tr-t0">
            <td>
                <span class="icon-angle-down in animate-left-yd" data-toggle="tooltip" data-animation="fadeInUp" data-placement="top" title="点击展开查看此商品全部规格;如超出请滚动滚动条，或拉动滚动条"></span>
            </td>
            <td>
                <a href="#" class="bt-images"><img src="{$Think.IMG_PATH}pt-img1.jpg" alt=""></a>
            </td>
            <td class="text-left">
                <dl class="goods-name">
                    <dt><a href="#">复古浮雕水杯 加厚玻璃杯子家用透明可爱玻璃杯大号创意果汁杯</a></dt>
                    <dd>商家货号：1983693203980238930</dd>
                </dl>
            </td>
            <td>¥59.95</td>
            <td>320件</td>
            <td>2016-10-01</td>
            <td class="table-handle">
                <span>
              <a href="#"><i class="icon-pencil"></i>编辑</a>
            </span>
                <span>
              <a href="#"><i class="icon-trash"></i>删除</a>
            </span>
            </td>
        </tr>
        <tr class="goods-tr-t0  goods-tr-none">
            <td colspan="7">
                <div class="goods-box">
                    <ul>
                        <li>
                            <a href="#" class="img-link"><img src="{$Think.IMG_PATH}pt-img2.jpg" alt="" /></a>
                            <p>颜色：红色</p>
                            <p>尺码：大</p>
                            <p>价格：¥59.95</p>
                            <p>库存：100</p>
                            <a href="#" class="goods-link">查看商品详情</a>
                        </li>
                        <li>
                            <a href="#" class="img-link"><img src="{$Think.IMG_PATH}pt-img3.jpg" alt="" /></a>
                            <p>颜色：红色</p>
                            <p>尺码：大</p>
                            <p>价格：¥59.95</p>
                            <p>库存：100</p>
                            <a href="#" class="goods-link">查看商品详情</a>
                        </li>
                        <li>
                            <a href="#" class="img-link"><img src="{$Think.IMG_PATH}pt-img4.jpg" alt="" /></a>
                            <p>颜色：红色</p>
                            <p>尺码：大</p>
                            <p>价格：¥59.95</p>
                            <p>库存：100</p>
                            <a href="#" class="goods-link">查看商品详情</a>
                        </li>
                        <li>
                            <a href="#" class="img-link"><img src="{$Think.IMG_PATH}pt-img2.jpg" alt="" /></a>
                            <p>颜色：红色</p>
                            <p>尺码：大</p>
                            <p>价格：¥59.95</p>
                            <p>库存：100</p>
                            <a href="#" class="goods-link">查看商品详情</a>
                        </li>
                        <li>
                            <a href="#" class="img-link"><img src="{$Think.IMG_PATH}pt-img3.jpg" alt="" /></a>
                            <p>颜色：红色</p>
                            <p>尺码：大</p>
                            <p>价格：¥59.95</p>
                            <p>库存：100</p>
                            <a href="#" class="goods-link">查看商品详情</a>
                        </li>
                        <li>
                            <a href="#" class="img-link"><img src="{$Think.IMG_PATH}pt-img4.jpg" alt="" /></a>
                            <p>颜色：红色</p>
                            <p>尺码：大</p>
                            <p>价格：¥59.95</p>
                            <p>库存：100</p>
                            <a href="#" class="goods-link">查看商品详情</a>
                        </li>
                        <li>
                            <a href="#" class="img-link"><img src="{$Think.IMG_PATH}pt-img2.jpg" alt="" /></a>
                            <p>颜色：红色</p>
                            <p>尺码：大</p>
                            <p>价格：¥59.95</p>
                            <p>库存：100</p>
                            <a href="#" class="goods-link">查看商品详情</a>
                        </li>
                        <li>
                            <a href="#" class="img-link"><img src="{$Think.IMG_PATH}pt-img3.jpg" alt="" /></a>
                            <p>颜色：红色</p>
                            <p>尺码：大</p>
                            <p>价格：¥59.95</p>
                            <p>库存：100</p>
                            <a href="#" class="goods-link">查看商品详情</a>
                        </li>
                        <li>
                            <a href="#" class="img-link"><img src="{$Think.IMG_PATH}pt-img4.jpg" alt="" /></a>
                            <p>颜色：红色</p>
                            <p>尺码：大</p>
                            <p>价格：¥59.95</p>
                            <p>库存：100</p>
                            <a href="#" class="goods-link">查看商品详情</a>
                        </li>
                        <li>
                            <a href="#" class="img-link"><img src="{$Think.IMG_PATH}pt-img2.jpg" alt="" /></a>
                            <p>颜色：红色</p>
                            <p>尺码：大</p>
                            <p>价格：¥59.95</p>
                            <p>库存：100</p>
                            <a href="#" class="goods-link">查看商品详情</a>
                        </li>
                        <li>
                            <a href="#" class="img-link"><img src="{$Think.IMG_PATH}pt-img3.jpg" alt="" /></a>
                            <p>颜色：红色</p>
                            <p>尺码：大</p>
                            <p>价格：¥59.95</p>
                            <p>库存：100</p>
                            <a href="#" class="goods-link">查看商品详情</a>
                        </li>
                        <li>
                            <a href="#" class="img-link"><img src="{$Think.IMG_PATH}pt-img4.jpg" alt="" /></a>
                            <p>颜色：红色</p>
                            <p>尺码：大</p>
                            <p>价格：¥59.95</p>
                            <p>库存：100</p>
                            <a href="#" class="goods-link">查看商品详情</a>
                        </li>
                        <li>
                            <a href="#" class="img-link"><img src="{$Think.IMG_PATH}pt-img2.jpg" alt="" /></a>
                            <p>颜色：红色</p>
                            <p>尺码：大</p>
                            <p>价格：¥59.95</p>
                            <p>库存：100</p>
                            <a href="#" class="goods-link">查看商品详情</a>
                        </li>
                        <li>
                            <a href="#" class="img-link"><img src="{$Think.IMG_PATH}pt-img3.jpg" alt="" /></a>
                            <p>颜色：红色</p>
                            <p>尺码：大</p>
                            <p>价格：¥59.95</p>
                            <p>库存：100</p>
                            <a href="#" class="goods-link">查看商品详情</a>
                        </li>
                        <li>
                            <a href="#" class="img-link"><img src="{$Think.IMG_PATH}pt-img4.jpg" alt="" /></a>
                            <p>颜色：红色</p>
                            <p>尺码：大</p>
                            <p>价格：¥59.95</p>
                            <p>库存：100</p>
                            <a href="#" class="goods-link">查看商品详情</a>
                        </li>
                    </ul>
                </div>

            </td>


        </tr>
        <tr>
            <td>
                <input type="checkbox" id="checkbox_a4" class="chk_1 all" />
                <label for="checkbox_a4" class="lab-t"></label>
            </td>
            <td colspan="6">
                <label for="checkbox_a4" class="text-left pr15">全选</label>
                <div class="btn-group">
                    <button type="button" class="btn btn-default">删除</button>
                    <button type="button" class="btn btn-default">下架</button>
                    <button type="button" class="btn btn-default">设置广告词</button>
                    <button type="button" class="btn btn-default">设置关联版式</button>
                </div>
            </td>
        </tr>
        <tr class="pagelist">
            <td colspan="7">
                <div>
                    <ul>
                        <li>
                            <a href="#"> << </a>
                        </li>
                        <li>
                            <a href="#"> < </a>
                        </li>
                        <li><a href="#" class="cus"> 1 </a></li>
                        <li><a href="#"> 2 </a></li>
                        <li><a href="#"> 3 </a></li>
                        <li><a href="#"> > </a></li>
                        <li><a href="#"> >> </a></li>
                    </ul>
                </div>
            </td>
        </tr>
    </table>
</div>
