<div class="upload_photo">
    <div class="media">
        <a class="media-left" href="#">
            <img src="{$Think.IMG_PATH}ico-photo.png" width="100" height="100" alt="...">
        </a>
        <div class="media-body">
            <h4 class="media-heading mb15">默认相册</h4>
            <div class="btn-up-zbox">
                        <div class="clear"></div>
                        <span class="input-group-btn one-text">
                        <a href="javascript:void(0)" class="btn btn-default btn_addfile btn-one-upload">
                          <span><i class="icon-circle-arrow-up"></i> 图片上传</span>
                        </a>
                        </span>
                    </div>
        </div>
    </div>

    <div class="table-form-default">
        <table class="table b0 m0">
            <tr>
                <td class="w80 b0">
                    <input type="checkbox" id="checkbox_a1" class="chk_1 all" />
                    <label for="checkbox_a1" class="lab-t"></label>
                    <label for="checkbox_a1" class="text-left pr15">全选</label>
                </td>
                <td class="b0">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default">删除</button>
                        <button type="button" class="btn btn-default">转移相册</button>
                        <button type="button" class="btn btn-default">添加水印</button>
                    </div>
                </td>
                <td class="b0">
                    <div class="form-group">
                        <select class="form-control">
                            <option>请选择...</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="prompt-box">
        <ul class="m0">
            <li class="top-prompt">
                <h3>操作提示 <i class="icon-caret-down"></i></h3>
            </li>
            <li class="list-desc">
                <p><i class="icon-circle"></i>点击查看操作将显示订单（包括订单物品）的详细信息</p>
            </li>
        </ul>
    </div>
    <div class="photo-container mt20 pr20 mb30">
        <div class="row table-form-default boximgUpload">
            <div class="col-xsd-2">
                <div class="thumbnail">
                    <img src="{$Think.IMG_PATH}img-ph-3.jpg" alt="...">
                    <div class="caption">
                        <h3>默认相册</h3>
                        <p>上传时间：2016-10-1</p>
                        <p>原图尺寸：2：3</p>
                    </div>
                    <div class="chk-one-photo chk-one">
                        <input type="checkbox" id="checkbox_ph_1" class="chk_1" />
                        <label for="checkbox_ph_1" class="lab-t"></label>
                    </div>
                </div>
            </div>
            <div class="col-xsd-2">
                <div class="thumbnail">
                    <img src="{$Think.IMG_PATH}img-ph-1.jpg" alt="...">
                    <div class="caption">
                        <h3>默认相册</h3>
                        <p>上传时间：2016-10-1</p>
                        <p>原图尺寸：2：3</p>
                    </div>
                    <div class="chk-one-photo chk-one">
                        <input type="checkbox" id="checkbox_ph_2" class="chk_1" />
                        <label for="checkbox_ph_2" class="lab-t"></label>
                    </div>
                </div>
            </div>
            <div class="col-xsd-2">
                <div class="thumbnail">
                    <img src="{$Think.IMG_PATH}img-ph-2.jpg" alt="...">
                    <div class="caption">
                        <h3>默认相册</h3>
                        <p>上传时间：2016-10-1</p>
                        <p>原图尺寸：2：3</p>
                    </div>
                    <div class="chk-one-photo chk-one">
                        <input type="checkbox" id="checkbox_ph_3" class="chk_1" />
                        <label for="checkbox_ph_3" class="lab-t"></label>
                    </div>
                </div>
            </div>
            <div class="col-xsd-2">
                <div class="thumbnail">
                    <img src="{$Think.IMG_PATH}img-ph-4.jpg" alt="...">
                    <div class="caption">
                        <h3>默认相册</h3>
                        <p>上传时间：2016-10-1</p>
                        <p>原图尺寸：2：3</p>
                    </div>
                    <div class="chk-one-photo chk-one">
                        <input type="checkbox" id="checkbox_ph_4" class="chk_1" />
                        <label for="checkbox_ph_4" class="lab-t"></label>
                    </div>
                </div>
            </div>
            <div class="col-xsd-2">
                <div class="thumbnail">
                    <img src="{$Think.IMG_PATH}img-ph-1.jpg" alt="...">
                    <div class="caption">
                        <h3>默认相册</h3>
                        <p>上传时间：2016-10-1</p>
                        <p>原图尺寸：2：3</p>
                    </div>
                    <div class="chk-one-photo chk-one">
                        <input type="checkbox" id="checkbox_ph_5" class="chk_1" />
                        <label for="checkbox_ph_5" class="lab-t"></label>
                    </div>
                </div>
            </div>
            <div class="col-xsd-2">
                <div class="thumbnail">
                    <img src="{$Think.IMG_PATH}img-ph-2.jpg" alt="...">
                    <div class="caption">
                        <h3>默认相册</h3>
                        <p>上传时间：2016-10-1</p>
                        <p>原图尺寸：2：3</p>
                    </div>
                    <div class="chk-one-photo chk-one">
                        <input type="checkbox" id="checkbox_ph_6" class="chk_1" />
                        <label for="checkbox_ph_6" class="lab-t"></label>
                    </div>
                </div>
            </div>
            <div class="col-xsd-2">
                <div class="thumbnail">
                    <img src="{$Think.IMG_PATH}img-ph-3.jpg" alt="...">
                    <div class="caption">
                        <h3>默认相册</h3>
                        <p>上传时间：2016-10-1</p>
                        <p>原图尺寸：2：3</p>
                    </div>
                    <div class="chk-one-photo chk-one">
                        <input type="checkbox" id="checkbox_ph_7" class="chk_1" />
                        <label for="checkbox_ph_7" class="lab-t"></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pagelist">
        <ul>
            <li>
                <a href="#">
                    << </a>
            </li>
            <li>
                <a href="#">
                    < </a>
            </li>
            <li><a href="#" class="cus"> 1 </a></li>
            <li><a href="#"> 2 </a></li>
            <li><a href="#"> 3 </a></li>
            <li><a href="#"> > </a></li>
            <li><a href="#"> >> </a></li>
        </ul>
    </div>
</div>


<script src="{$Think.JS_PATH}upload/uploader.js" charset="utf-8"></script>
<script type="text/javascript">
    $(function() {
        //图片上传
        $('.btn-one-upload').uploader({
            server: '/index/index/uploadFile',
            container:'.boximgUpload',
        });

    })
</script>
