<!-- 左侧弹出菜单 start -->
<article class="tc-left-menu">
    <ul class="new-menu none">
        <li class="popup-bt">
            <div>
                <h3>常用功能菜单</h3>
                <p>添加您经常使用的功能到首页侧边栏，方便操作。</p>
            </div>
            <i class="icon-remove"></i>
        </li>
        <li class="menu-list">
            <div>
                <h4>商品</h4>
                <ul>
                    <li><a href="#" class="add-style">商品发布</a></li>
                    <li><a href="#">出售中的商品</a></li>
                    <li><a href="#">仓库中的商品</a></li>
                    <li><a href="#">关联版式</a></li>
                    <li><a href="#">关联版式</a></li>
                    <li><a href="#">商品规格</a></li>
                    <li><a href="#">仓库中的商品</a></li>
                </ul>
            </div>
            <div>
                <h4>商品</h4>
                <ul>
                    <li><a href="#">商品发布</a></li>
                    <li><a href="#">出售中的商品</a></li>
                    <li><a href="#">仓库中的商品</a></li>
                    <li><a href="#" class="add-style">关联版式</a></li>
                    <li><a href="#">商品规格</a></li>
                    <li><a href="#">仓库中的商品</a></li>
                </ul>
            </div>
            <div>
                <h4>商品</h4>
                <ul>
                    <li><a href="#">商品发布</a></li>
                    <li><a href="#">出售中的商品</a></li>
                    <li><a href="#">出售中的商品</a></li>
                    <li><a href="#">仓库中的商品</a></li>
                    <li><a href="#">关联版式</a></li>
                    <li><a href="#">关联版式</a></li>
                    <li><a href="#" class="add-style">商品规格</a></li>
                    <li><a href="#">仓库中的商品</a></li>
                </ul>
            </div>
            <div>
                <h4>商品</h4>
                <ul>
                    <li><a href="#">商品发布</a></li>
                    <li><a href="#">出售中的商品</a></li>
                    <li><a href="#" class="add-style">仓库中的商品</a></li>
                    <li><a href="#">关联版式</a></li>
                    <li><a href="#">关联版式</a></li>
                    <li><a href="#" class="add-style">关联版式</a></li>
                    <li><a href="#">商品规格</a></li>
                    <li><a href="#">仓库中的商品</a></li>
                </ul>
            </div>
            <div>
                <h4>商品</h4>
                <ul>
                    <li><a href="#">商品发布</a></li>
                    <li><a href="#">出售中的商品</a></li>
                    <li><a href="#">仓库中的商品</a></li>
                    <li><a href="#">关联版式</a></li>
                    <li><a href="#">关联版式</a></li>
                    <li><a href="#">关联版式</a></li>
                    <li><a href="#">商品规格</a></li>
                    <li><a href="#">仓库中的商品</a></li>
                </ul>
            </div>
            <div>
                <h4>商品</h4>
                <ul>
                    <li><a href="#">商品发布</a></li>
                    <li><a href="#">出售中的商品</a></li>
                    <li><a href="#">仓库中的商品</a></li>
                    <li><a href="#">关联版式</a></li>
                    <li><a href="#">关联版式</a></li>
                    <li><a href="#">关联版式</a></li>
                    <li><a href="#">商品规格</a></li>
                    <li><a href="#">仓库中的商品</a></li>
                </ul>
            </div>


        </li>

    </ul>
    <div class="mask"></div>
</article>
<!-- 左侧弹出菜单 end -->
