<!-- 表单组 -->
<div class="sheet-box">
    <form class="js-ajax-form" action="addPost" method="post">
        <table class="table">
            <tr class="goods-tr-bg">
                <th colspan="4">
                    <h3>会员信息</h3>
                </th>
            </tr>
            <tr>
                <td>
                    <div>
                        <h3>用户名*</h3>
                    </div>
                </td>
                <td>
                    <div class="col-xs-5">
                        <div class="one-text">
                            <input type="text" class="form-control h30 mb5" name="memberName">
                            <span>请填写用户名</span>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <h3>密码*</h3>
                    </div>
                </td>
                <td>
                    <div class="col-xs-5">
                        <div class="one-text">
                            <input type="password" class="form-control h30 mb5" name="memberPassword">
                            <span>请填写密码</span>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <h3>手机号码*</h3>
                    </div>
                </td>
                <td>
                    <div class="col-xs-5">
                        <div class="one-text">
                            <input type="text" class="form-control h30 mb5" name="phone">
                            <span>请填写手机号码</span>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <h3>会员类型</h3>
                    </div>
                </td>
                <td>
                    <div class="col-xs-5">
                        <div class="one-text">
                            <input type="radio" name="type" value="1">普通会员&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="type" value="2">二级代理
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="b0">
                <td colspan="4" class="b0">
                    <div class="text-center">
                        <button class="btn btn-warning max-bg js-ajax-submit">添加</button>
                        <button type="button" class="btn max-bg" onclick="history.go(-1)">返回</button>
                    </div>
                </td>
            </tr>
        </table>
    </form>
</div>
<!--自定义的工具类-->
<script src="{$Think.JS_PATH}wind.js" charset="utf-8"></script>
<script src="{$Think.JS_PATH}common.js" charset="utf-8"></script>



