<div class="sheet-box">
    <form class="js-ajax-form" action="addAgentPost" method="post">
        <table class="table">
            <tr class="goods-tr-bg">
                <th colspan="4">
                    <h3>二级代理基本信息</h3>
                </th>
            </tr>
            <tr>
                <td class="w50">
                    <div>
                        <h3>公司名称*</h3>
                    </div>
                </td>
                <td class="w150">
                    <div class="col-xs-11">
                        <div class="one-text">
                            <input type="text" class="form-control h30 mb5" name="company">
                        </div>
                    </div>
                </td>
                <td class="w50">
                    <div>
                        <h3>公司联系方式</h3>
                    </div>
                </td>
                <td class="w150">
                    <div class="col-xs-11">
                        <div class="one-text">
                            <input type="text" class="form-control h30 mb5" name="company_phone">
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <h3>姓名*</h3>
                    </div>
                </td>
                <td>
                    <div class="col-xs-7">
                        <div class="one-text">
                            <input type="text" class="form-control h30 mb5" name="Name">
                        </div>
                    </div>
                </td>
                <td>
                    <div>
                        <h3>手机号码*</h3>
                    </div>
                </td>
                <td>
                    <div class="col-xs-7">
                        <div class="one-text">
                            <input type="text" class="form-control h30 mb5" name="phone">
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <h3>设置密码</h3>
                </td>
                <td>
                    <div class="col-xs-7">
                        <div class="one-text">
                            <input type="password" class="form-control h30 mb5" name="memberPassword">
                        </div>
                    </div>
                </td>
                <td>
                    <h3>再次输入密码</h3>
                </td>
                <td>
                    <div class="col-xs-7">
                        <div class="one-text">
                            <input type="password" class="form-control h30 mb5" name="memberRPassword">
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <h3>邮箱地址</h3>
                    </div>
                </td>
                <td colspan="3">
                    <div class="col-xs-3">
                        <div class="one-text">
                            <input type="text" class="form-control h30 mb5" name="email">
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="b0">
                <td colspan="4" class="b0">
                    <div class="text-center">
                        <button class="btn btn-warning max-bg js-ajax-submit">添加</button>
                        <button type="button" class="btn max-bg" onclick="history.go(-1)">返回</button>
                    </div>
                </td>
            </tr>

        </table>
    </form>
</div>

<!--自定义的工具类-->
<script src="{$Think.JS_PATH}wind.js" charset="utf-8"></script>
<script src="{$Think.JS_PATH}common.js" charset="utf-8"></script>