<!-- 表单组 -->
<div class="sheet-box">
    <form class="js-ajax-form" action="editPost" method="post">
        <table class="table">
            <tr class="goods-tr-bg">
                <th colspan="4">
                    <h3>会员信息</h3>
                </th>
            </tr>
            <tr>
                <td>
                    <div>
                        <h3>用户名</h3>
                    </div>
                </td>
                <td>
                    <div class="col-xs-5">
                        <div class="one-text">
                            <span>{$data.member_name}</span>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <h3>密码</h3>
                    </div>
                </td>
                <td>
                    <div class="col-xs-5">
                        <div class="one-text">
                            <input type="password" class="form-control h30 mb5" name="memberPassword">
                            <span>不修改留空即可</span>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <h3>手机号码*</h3>
                    </div>
                </td>
                <td>
                    <div class="col-xs-5">
                        <div class="one-text">
                            <input type="text" class="form-control h30 mb5" name="phone" value="{$data.phone}">
                            <span>请填写手机号码</span>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <h3>状态</h3>
                    </div>
                </td>
                <td>
                    <div class="col-xs-5">
                        <div class="one-text btn-group-radio">
                            <div class="btn-group btn-box-qh">
                            <button type="button" class="btn btn-radio btn-default{eq name='data:status' value='1'} cus{/eq}" value="1">正常</button>
                            <button type="button" class="btn btn-radio btn-default {eq name='data:status' value='0'}cus{/eq}" value="0">禁用</button>
                            </div>
                            <input type="hidden" name="status" id="status" value="{$data.status}">
                         </div>
                    </div>
                </td>
            </tr>
            <tr class="b0">
                <td colspan="4" class="b0">
                    <div class="text-center">
                        <input type="hidden" name="memberId" value="{$data.member_id}">
                        <button class="btn btn-warning max-bg js-ajax-submit">编辑</button>
                        <button type="button" class="btn max-bg" onclick="history.go(-1)">返回</button>
                    </div>
                </td>
            </tr>
        </table>
    </form>
</div>
<!--自定义的工具类-->
<script src="{$Think.JS_PATH}wind.js" charset="utf-8"></script>
<script src="{$Think.JS_PATH}common.js" charset="utf-8"></script>



