        
            <li class="mt-cnt2 mt-zbox">
                <h2><a href="#">更多风格 >></a>{$param_list_58466e1ba63cb_name}</h2>
                <ul>
                    <li class="mt-cut">
        {volist name="param_list_58466e1ba63cb" id="configData" key="index"}
                        <p {if condition="$index == 1"} class="cus" {/if} storeyConfigData='{$configData|json_encode}' >{$configData.name}</p>
        {/volist}
                    </li>
        {volist name="param_list_58466e1ba63cb" id="configData" key="index"}
                    {if condition="$index == 1"}
                    <li class="content-box">
                        <div class="store-item-box">
                            <ul>
                                <li class="top">
                                    <div class="lz-2 fl">
                                        <!-- 图片一   -->
                                        <p>
                                            <i></i>
                                            <!-- 图片链接 -->
                                            <a id="{$configData.parent_category_id}_link_1" href="{$configData.link_1}">
                                            <!-- 图片路径 -->
                                                <img id="{$configData.parent_category_id}_path_1" 
                                                     class="lazy" 
                                                     data-original="{$configData.path_1}" 
                                                     width="805" 
                                                     height="490" 
                                                     alt="" />
                                            </a>
                                            <!-- 图片描述 -->
                                            <span id="{$configData.parent_category_id}_description_1">
                                                {$configData.description_1}
                                            </span>
                                        </p>
                                    </div>
                                    <div class="lz-1 fr">
                                        <!-- 图片二   -->
                                        <p>
                                            <i></i>
                                            <!-- 图片链接 -->
                                            <a id="{$configData.parent_category_id}_link_2" href="{$configData.link_2}">
                                            <!-- 图片路径 -->
                                                <img id="{$configData.parent_category_id}_path_2" 
                                                     class="lazy" 
                                                     data-original="{$configData.path_2}" 
                                                     width="341" 
                                                     height="233" 
                                                     alt="" />
                                            </a>
                                            <!-- 图片描述 -->
                                            <span id="{$configData.parent_category_id}_description_2">
                                                {$configData.description_2}
                                            </span>
                                        </p>
                                        <!-- 图片三 -->
                                        <p>
                                            <!-- 图片链接 -->
                                            <a id="{$configData.parent_category_id}_link_3" href="{$configData.link_3}">
                                            <!-- 图片路径 -->
                                                <img id="{$configData.parent_category_id}_path_3" 
                                                     class="lazy" 
                                                     data-original="{$configData.path_3}" 
                                                     width="341" 
                                                     height="233" 
                                                     alt="" />
                                            </a>
                                            <!-- 图片描述 -->
                                            <span id="{$configData.parent_category_id}_description_3">
                                                {$configData.description_3}
                                            </span>
                                        </p>
                                    </div>
                                    <div class="lz-3 fbt">
                                        <!-- 图片四 -->
                                        <p>
                                            <i></i>
                                            <!-- 图片链接 -->
                                            <a id="{$configData.parent_category_id}_link_4" href="{$configData.link_4}">
                                            <!-- 图片路径 -->
                                                <img id="{$configData.parent_category_id}_path_4" 
                                                     class="lazy" 
                                                     data-original="{$configData.path_4}" 
                                                     width="278" 
                                                     height="191" 
                                                     alt="" />
                                            </a>
                                            <!-- 图片描述 -->
                                            <span id="{$configData.parent_category_id}_description_4">
                                                {$configData.description_4}
                                            </span>
                                        </p>
                                        <!-- 图片五 -->
                                        <p>
                                            <!-- 图片链接 -->
                                            <a id="{$configData.parent_category_id}_link_5" href="{$configData.link_5}">
                                            <!-- 图片路径 -->
                                                <img id="{$configData.parent_category_id}_path_5" 
                                                     class="lazy" 
                                                     data-original="{$configData.path_5}" 
                                                     width="278" 
                                                     height="191" 
                                                     alt="" />
                                            </a>
                                            <!-- 图片描述 -->
                                            <span id="{$configData.parent_category_id}_description_5">
                                                {$configData.description_5}
                                            </span>
                                        </p>
                                        <!-- 图片六 -->
                                        <p>
                                            <!-- 图片链接 -->
                                            <a id="{$configData.parent_category_id}_link_6" href="{$configData.link_6}">
                                            <!-- 图片路径 -->
                                                <img id="{$configData.parent_category_id}_path_6" 
                                                     class="lazy" 
                                                     data-original="{$configData.path_6}" 
                                                     width="278" 
                                                     height="191" 
                                                     alt="" />
                                             </a>
                                            <!-- 图片描述 -->
                                             <span id="{$configData.parent_category_id}_description_6">
                                                {$configData.description_6}
                                            </span>
                                        </p>
                                        <!-- 图片一 -->
                                        <p>
                                            <i class="i-fr"></i>
                                            <!-- 图片链接 -->
                                            <a id="{$configData.parent_category_id}_link_7" href="{$configData.link_7}">
                                            <!-- 图片路径 -->
                                                <img id="{$configData.parent_category_id}_path_7" 
                                                     class="lazy" 
                                                     data-original="{$configData.path_7}" 
                                                     width="278" 
                                                     height="191" 
                                                     alt="" />
                                            </a>
                                            <!-- 图片描述 -->
                                            <span id="{$configData.parent_category_id}_description_7">
                                                {$configData.description_7}
                                            </span>
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    {/if}
        {/volist}
                </ul>
            </li>