{__NOLAYOUT__}
{include file="layout/header" /}
<link rel="stylesheet" href="{$Think.CSS_PATH}cut-style.css" media="screen" title="no title" charset="utf-8">
<div class="re-layui log-order-offline">
    <form class="js-ajax-form" action="{:url('seller/logsOrder/orderOffline')}" method="post">
        <input type="hidden" name="orderId" value="{$order_info.id}">
        <input type="hidden"  name="type" value="1">
        <input type="hidden" name="flag" value="{$flag}">
        <table class="table">
        <tr>
            <td class="td-l-na">订单编号：</td>
            <td>{$order_info.order_sn}</td>
        </tr>

        <tr>
            <td class="td-l-na">预约账号：</td>
            <td>{$order_info.phone}</td>
        </tr>

        {if $flag eq 1}
        <tr>
            <td class="td-l-na">设计师：</td>
            <td>{$designer.designer_name}</td>
        </tr>

        <tr>
            <td class="td-l-na">联系方式：</td>
            <td>{$designer.designer_phone}</td>
        </tr>

        <tr>
            <td class="td-l-na">时间：</td>
            <td>
                <input type="text"  name="offlineTime" class="skinblue1 form-control text-ra workinput wicon pr30 w120" placeholder="预约时间" >
            </td>
        </tr>

        <tr>
            <td class="td-l-na">线下地址：</td>
            <td><textarea name="address" rows="2" placeholder="线下地址应小于64字" class="form-control mb5 w300"></textarea></td>
        </tr>
        {else/}

        <tr>
            <td class="td-l-na">合同编号*：</td>
            <td><input type="text" name="contractNumber" placeholder="合同编号应小于16字符" class="form-control h30 mb5 w300"></td>
        </tr>

        <tr>
            <td class="td-l-na">签订日期*：</td>
            <td>
                <input type="text"  name="contractTime" class="skinblue1 form-control text-ra workinput wicon pr30 w120" placeholder="签订时间" >
            </td>
        </tr>

        <tr class="td-textarea">
            <td class="td-l-na">备注说明：</td>
            <td>
                <textarea name="contractDesc" rows="2" placeholder="合同备注说明应小于140字" class="form-control w300"></textarea>
            </td>
        </tr>

        {/if}

        <tr class="b0">
            <td colspan="2" class="b0">
                <div class="text-center mt15">
                    <button type="submit" class="btn btn-warning max-bg js-ajax-submit">确定</button>
                    <button class="btn max-bg return" >取消</button>
                </div>

            </td>
        </tr>
        </table></form>
</div>
<script src="{$Think.JS_PATH}wind.js" charset="utf-8"></script>
<script src="{$Think.JS_PATH}common.js" charset="utf-8"></script>
<script type="text/javascript">
    $(function(){
        var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
        $('.return').click(function(){
            parent.layer.close(index);
            return false;
        });

        $(".skinblue1").jeDate({
            minDate:  $.nowDate(0),
            skinCell: "jedateblue",
            format: 'YYYY-MM-DD'
        });
    })
</script>
<style>
    .table tbody tr td{
        border-top: hidden;
    }
</style>
