
<div class="col-form">
    <form class="form-inline" role="form" style="float: left">
        <span>广告位标题</span>
        <div class="input-group">
            <input type="text" name="adv_name" class="form-control" value="{$adv_name}">
            <span class="input-group-btn">
              <button class="btn btn-default search" type="button">搜索</button>
            </span>
        </div>
    </form>
    <ul>
        <li class="text-right" style="margin-right: 20px;">
            <a href="add" class="btn btn-info"><i class="icon-plus"></i>添加广告位</a>
        </li>
    </ul>
</div>
<div class="prompt-box">

    <ul>
        <li class="top-prompt">
            <h3>操作提示 <i class="icon-caret-down"></i></h3>
        </li>
        <li class="list-desc">
            <p><i class="icon-circle"></i>广告位信息列表，可以进行编辑、删除等操作</p>
            <p><i class="icon-circle"></i>广告位分为首页大屏广告、滚动广告以及商品分类栏广告</p>
        </li>
    </ul>
</div>
<div class="table-form-default">
    <table class="table" id="data-list">
        <tr>
            <th class="w10"></th>
            <th class="w150">排序</th>
            <th class="w400">广告位标题</th>
            <th class="w200">广告位分类</th>
            <th class="w300">操作</th>
        </tr>

        <tr class="">
            <td colspan="4">
                <!-- 占位一行 -->
            </td>
        </tr>
        {foreach $datas as $vo}
        <tr class="goods-tr-t0">
            <td  class="chk-one">
                <input type="checkbox" id="checkbox_a2_{$vo.id}" value="{$vo.id}" class="chk_1 data_check" />
                <label for="checkbox_a2_{$vo.id}" class="lab-t"></label>
            </td>
            <td class="text-center">
                <div class="one-text sort">
                    <input type="text" class="form-control h30 mb5 w50" key-id="{$vo.id}" value="{$vo.adv_sort}" readonly/>
                </div>
            </td>
            <td>{$vo.adv_name}</td>
            <td>{$vo.category_name}</td>
            <td class="table-handle">
                <span>
                    <a href="detail?id={$vo.id}"><i class="icon-eye-open"></i>详情</a>
                </span>
                <span>
                    <a href="edit?id={$vo.id}"><i class="icon-pencil"></i>编辑</a>
                </span>
                <span>
                    <a  class="js-ajax-delete" href="delete?id={$vo.id}"><i class="icon-trash"></i>删除</a>
                </span>
            </td>
        </tr>
        {/foreach}
        <tr>
            <td class="text-center">
                <input type="checkbox" id="checkbox_a1" class="chk_1 all" />
                <label for="checkbox_a1" class="lab-t"></label>
            </td>
            <td colspan="5">
                <label for="checkbox_a1" class="text-left pr15">全选</label>
                <div class="btn-group">
                    <a href="javascript:void(0);" class="btn btn-default delete">删除</a>
                </div>
            </td>
        </tr>
    </table>
    {$datas->render();}
</div>
<!--自定义的工具类-->
<script src="{$Think.JS_PATH}wind.js" charset="utf-8"></script>
<script src="{$Think.JS_PATH}common.js" charset="utf-8"></script>
