<!-- content start -->
  <div class="container">
      <ul class="list-box">
          <li class="goods-sort mt-full-view">
              <ul class="marbox">
                  <li class="mt-xb">
                      <div>
                          <span></span>
                          <span></span>
                      </div>
                  </li>
                  <li class="full-cut">
                      <p class="combg-b">宫廷法式</p>
                      <p class="">欧式古典</p>
                      <p class="">传统中式</p>
                      <div class="clear"></div>
                  </li>
              </ul>
              <ul class="full-view-img">
                  <li class="full-item">
                      <div class="full-img">
                          <div class="marbox1">
                              <a href="" class="chk-full">点击进入全景</a>
                              <p></p>
                          </div>
                      </div>
                      <div class="full-img none">
                          <div class="marbox1">
                              <p></p>
                          </div>
                      </div>
                      <div class="full-img none">
                          <div class="marbox1">
                              <p></p>
                          </div>
                      </div>
                  </li>
                  <li class="goods-box combg-h">
                      <div>
                          <table>
                              <tr>
                                  <th></th>
                                  <th>商品</th>
                                  <th>商品</th>
                                  <th>商品</th>
                                  <th>商品</th>
                                  <th>商品</th>
                                  <th>商品</th>
                                  <th>商品</th>
                                  <th>商品</th>
                                  <th></th>
                              </tr>
                              <tr>
                                  <td></td>
                                  <td>怪灯烛</td>
                                  <td>怪灯烛</td>
                                  <td>怪灯烛</td>
                                  <td>怪灯烛</td>
                                  <td>怪灯烛</td>
                                  <td>怪灯烛</td>
                                  <td>怪灯烛</td>
                                  <td>怪灯烛</td>
                                  <td></td>
                              </tr>
                          </table>

                      </div>

                  </li>
              </ul>
          </li>
      </ul>
  </div>
  <!-- content end -->
