<!-- content start -->
<div class="container">
    <ul class="list-box">
        <li class="goods-sort mt-full-view">
            <ul class="marbox">
                <li class="mt-xb">
                    <div>
                        <span></span>
                        <span></span>
                    </div>
                </li>
                <li class="full-cut">
                    <p class="">餐厅商品</p>
                    <p class="combg-b">客厅商品</p>
                    <p class="">书房商品</p>
                    <p class="">卧室商品</p>
                    <div class="clear"></div>
                </li>
            </ul>
            <ul class="full-view-img">
                <li class="full-item">
                    <div class="full-img scenery-full1 none">
                        <div class="marbox1">
                            <a href="{$Think.SHOP_PATH}swf/fullSwf/index.html" class="chk-full" target="_blank">点击进入全景</a>
                            <p>吊柜</p>
                            <p>岛台</p>
                            <p>地柜</p>
                            <p>餐椅（小）</p>
                            <p>餐桌</p>
                            <p>酒柜</p>
                            <p>吧台</p>
                            <p>罗马柱</p>
                            <p>墙板</p>
                            <p>餐椅（大）</p>
                        </div>
                    </div>
                    <div class="full-img scenery-full2">
                        <div class="marbox1">
                            <a href="{$Think.SHOP_PATH}swf/fullSwf/index.html" class="chk-full" target="_blank">点击进入全景</a>
                            <p>电视柜</p>
                            <p>墙板</p>
                            <p>罗马柱</p>
                            <p>四人沙发</p>
                            <p>单人沙发</p>
                            <p>双人沙发</p>
                        </div>
                    </div>
                    <div class="full-img scenery-full3 none">
                        <div class="marbox1">
                            <a href="{$Think.SHOP_PATH}swf/fullSwf/index.html"  class="chk-full" target="_blank">点击进入全景</a>
                            <p>书柜</p>
                            <p>柱子</p>
                            <p>椅子</p>
                            <p>桌子</p>
                            <p>墙板</p>
                        </div>
                    </div>
                    <div class="full-img scenery-full4 none">
                        <div class="marbox1">
                            <a href="{$Think.SHOP_PATH}swf/fullSwf/index.html" class="chk-full" target="_blank">点击进入全景</a>
                            <p>椅子</p>
                            <p>小桌子</p>
                            <p>床头柜</p>
                            <p>床</p>
                            <p>双人沙发</p>
                            <p>墙板</p>
                            <p>电视柜</p>
                        </div>
                    </div>
                </li>
                <li class="goods-box mt-full-table combg-h">
                    <div>
                        <table>
                            <tr>
                                <th></th>
                                <th>编号</th>
                                <th>名称</th>
                                <th>单价</th>
                                <th>库存</th>
                                <th>产品链接</th>
                                <th></th>
                            </tr>
                        </table>


                    </div>

                </li>
            </ul>
        </li>
    </ul>
</div>
<!-- content end -->

<script src="{$Think.JS_PATH}full-shop.js" charset="utf-8"></script>
