<link rel="stylesheet" href="{$Think.CSS_PATH}cut-style.css" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="{$Think.CSS_PATH}colorbox.css" media="screen" title="no title" charset="utf-8">
<!-- 添加地址弹出 start -->
<div class="mt-layer none">
    <div class="login-main reg-main">
        <ul class="">
            <li class="form-box">
                <form id="add_address" action="{:url('shop/address/addaddresspost')}" method="post">
                    <input type="hidden" name="member_id" value="{$member_id}"/>
                    <div class="user-item">
                        <p class="fl">添加地址</p>
                        <p class="clear"></p>
                    </div>
                    <div class="form-item">
                        <p class="">
                            <label class="lab-ys">收货人 *</label>
                            <span><input type="text" name="true_name" value="" autocomplete="off"></span>
                        </p>
                        <p class="adds">
                            <input type="hidden" id="area_info" name="area_info"/>
                            <label class="lab-ys">所在地区 *</label>
                                <span>
                                   <select class="comm-select" id="provinces" name="province_id">
                                       <option value="provinces">选择省</option>
                                   </select>
                                    <select class="comm-select" id="citys" name="city_id">
                                        <option value="citys">选择市</option>
                                    </select>
                                    <select class="comm-select" id="countys" name="area_id">
                                        <option value="countys">选择县</option>
                                    </select>
                              </span>
                            <i class="clear"></i>
                        </p>
                        <p class="">
                            <label class="lab-ys">详细地址 *</label>
                            <span><input type="text" name="address" data-placement="top" class="intxt" value="" autocomplete="off"></span>
                        </p>
                        <p class="">
                            <label class="lab-ys">手机号 *</label>
                            <span><input type="text" name="mob_phone" data-placement="top" class="intxt" value="" autocomplete="off"></span>
                        </p>
                        <p class="">
                            <label class="lab-ys">座机号</label>
                            <span><input type="text" name="tel_phone" data-placement="top" class="intxt" value="" autocomplete="off"></span>
                        </p>
                        <p class="">
                            <label class="lab-ys">邮箱</label>
                            <span><input type="text" name="member_email" data-placement="top" class="intxt " value="" autocomplete="off"></span>
                        </p>
                        <p class="mr-adds">
                            <label class="lab-ys">默认地址</label>
                                <span>
                                    <input type="radio" name="is_default" value="1" style="background: none;" />是
                                    <input type="radio" name="is_default" value="0" style="background: none;" checked/>否
                                </span>
                        </p>
                        <p class="sub">
                            <span>
                                <button class="js-ajax-submit">确认添加</button>
                            </span>
                        </p>
                    </div>
                </form>
            </li>
            <li class="clear"></li>
        </ul>
    </div>
</div>
<!-- 添加地址弹出 end -->
<!--自定义的工具类-->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
<script src="{$Think.JS_PATH}jquery-1.9.1.min.js" charset="utf-8"></script>
<script src="{$Think.JS_PATH}bootstrap.min.js" charset="utf-8"></script>
<script src="{$Think.JS_PATH}layer/layer.js" charset="utf-8"></script>
<title>主页</title>
<!--[if lt IE 9]>
<script src="{$Think.JS_PATH}html5shiv.min.js"></script>
<script src="{$Think.JS_PATH}respond.min.js"></script>
<![endif]-->
<!--自定义的工具类-->
<script src="{$Think.JS_PATH}wind.js" charset="utf-8"></script>
<script src="{$Think.JS_PATH}jquery.validation.min.js" charset="utf-8"></script>
<script src="{$Think.JS_PATH}ajaxForm.js" charset="utf-8"></script>
<script type="text/javascript">
    $(function() {
        function c(b, a) {
            if ("" == b || null == b) b = 1;
            if ("" == a || null == a) a = 0;
            $.ajax({
                type: "get",
                url: "{:url('api/address/arealist')}",
                data: {
                    parent_id: b,
                    deep: a
                },
                dataType: "json",
                success: function(b) {
                    0 == a ? ($("#provinces").html("<option value='provinces'>\u9009\u62e9\u7701</option>"), $.each(b.data, function(b, a) {
                        $("#provinces").append("<option value='" + a[0] + "'>" + a[1] + "</option>")
                    })) : 1 == a ? ($("#citys").html("<option value='citys'>\u9009\u62e9\u5e02</option>"), $.each(b.data, function(b, a) {
                        $("#citys").append("<option value='" + a[0] + "'>" + a[1] + "</option>")
                    })) : 2 == a && ($("#countys").html("<option value='countys'>\u9009\u62e9\u53bf</option>"), $.each(b.data, function(b, a) {
                        $("#countys").append("<option value='" + a[0] + "'>" + a[1] + "</option>")
                    }))
                }
            })
        }
        c();
        $("#provinces").change(function() {
            $("#citys").html("<option value='citys'>\u9009\u62e9\u5e02</option>");
            $("#countys").html("<option value='countys'>\u9009\u62e9\u53bf</option>");
            "provinces" != $(this).val() && c($(this).val(), 1)
        });
        $("#citys").change(function() {
            $("#countys").html("<option value='countys'>\u9009\u62e9\u53bf</option>");
            "citys" != $(this).val() && c($(this).val(), 2)
        });
        jQuery.validator.addMethod("checkMob", function(b, a) {
            a = /^1([3-9]{1})([0-9]{1})([0-9]{8})$/;
            return 11 == b.length && a.test(b) || "" == b
        });
        jQuery.validator.addMethod("checkTel", function(b, a) {
            return /^([0-9]{3,4})-([0-9]{7,9})$/.test(b) || "" == b
        });
        jQuery.validator.addMethod("checkPhone", function(b, a) {
            return "" == $('input[name="tel_phone"]').val() && "" == $('input[name="mob_phone"]').val() ? !1 : !0
        });
        jQuery.validator.addMethod("checkStr", function(b, a) {
            return /['!@#$%^&*+_=:<>"]/.test(b) ? !1 : !0
        });
        $("#add_address").validate({
            rules: {
                true_name: {
                    required: !0,
                    maxlength: 14,
                    checkStr: !0
                },
                area_id: {
                    digits: !0
                },
                address: {
                    required: !0,
                    maxlength: 40,
                    checkStr: !0
                },
                mob_phone: {
                    checkPhone: !0,
                    checkMob: !0
                },
                tel_phone: {
                    checkPhone: !0,
                    checkTel: !0
                },
                member_email: {
                    email: !0
                }
            },
            messages: {
                true_name: {
                    required: "\u6536\u8d27\u4eba\u7684\u59d3\u540d\u4e0d\u80fd\u4e3a\u7a7a",
                    maxlength: "\u6536\u8d27\u4eba\u7684\u540d\u5b57\u957f\u5ea6\u4e0d\u80fd\u8d85\u8fc7\u5341\u56db\u4e2a\u5b57\u7b26",
                    checkStr: "\u8f93\u5165\u7684\u5b57\u7b26\u4e32\u542b\u6709\u975e\u6cd5\u5b57\u7b26"
                },
                area_id: {
                    digits: "\u6240\u9009\u5730\u533a\u4e0d\u80fd\u4e3a\u7a7a"
                },
                member_email: {
                    email: "\u8bf7\u8f93\u5165\u6b63\u786e\u683c\u5f0f\u7684E-Mail"
                },
                address: {
                    required: "\u8be6\u7ec6\u5730\u5740\u4e0d\u80fd\u4e3a\u7a7a",
                    maxlength: "\u8be6\u7ec6\u5730\u5740\u4e0d\u80fd\u8d85\u8fc7\u56db\u5341\u4e2a\u5b57\u7b26",
                    checkStr: "\u8f93\u5165\u7684\u5b57\u7b26\u4e32\u542b\u6709\u975e\u6cd5\u5b57\u7b26"
                },
                tel_phone: {
                    checkPhone: "\u624b\u673a\u6216\u8005\u5ea7\u673a\u5fc5\u586b\u4e00\u9879",
                    checkTel: "\u8bf7\u586b\u5199\u6b63\u786e\u7684\u5ea7\u673a\u53f7:\u533a\u53f7-\u53f7\u7801\u7684\u5f62\u5f0f"
                },
                mob_phone: {
                    checkPhone: "\u624b\u673a\u6216\u8005\u5ea7\u673a\u5fc5\u586b\u4e00\u9879",
                    checkMob: "\u8bf7\u586b\u5199\u6b63\u786e\u7684\u624b\u673a\u53f7\u7801"
                }
            },
            errorClass: "error",
            success: "valid",
            unhighlight: function(b, a, d) {
                $(b).tooltip("destroy").removeClass(a);
                $(".valid").remove()
            },
            errorPlacement: function(b, a) {
                "countys" == a.context.id ? ($("#countys").next().remove(), b.removeClass("error"), b.append('<i style="color:#894719;position: absolute;top:5px;left:-10px; width: 0;height: 0;border-top: 5px solid transparent;border-right: 10px solid #894719; border-bottom: 5px solid transparent;"></i>').css({
                    background: "#894719",
                    "border-radius": "3px",
                    padding: "3px 5px",
                    "font-size": "12px",
                    color: "#fff",
                    position: "relative",
                    margin: "15px"
                }), $("#countys").after(b)) : $(a).attr("title", $(b).text()).tooltip("show")
            }
        });
        $(".js-ajax-submit").click(function() {
            var b = $(this);
            if ($("#add_address").valid()) {
                var a = $("#add_address");
                $("#area_info").val($("#provinces option:selected").html() + $("#citys option:selected").html() + $("#countys option:selected").html());
                a.ajaxSubmit({
                    url: b.data("action") ? b.data("action") : a.attr("action"),
                    dataType: "json",
                    beforeSubmit: function(a, e, c) {
                        b.data("loading", !0);
                        a = b.text();
                        b.text(a + "\u4e2d...").prop("disabled", !0).addClass("disabled")
                    },
                    success: function(a, c, f, g) {
                        c = b.text();
                        b.removeClass("disabled").prop("disabled", !1).text(c.replace("\u4e2d...", "")).parent().find("span").remove();
                        layer.msg(a.msg);
                        1 == a.code && (a = parent.layer.getFrameIndex(window.name), parent.layer.close(a), parent.location.reload())
                    },
                    error: function(a, b, c) {
                        layer.msg(c)
                    }
                })
            }
            return !1
        })
    });
</script>
