<div class="container">
    <ul class="list-box">
        <li class="goods-sort">
            <ul class="marbox">
                <li class="mt-xb">
                    <div>
                        <span></span>
                        <span></span>
                    </div>
                </li>
                <li class="">
                    <h3><span>个人中心</span></h3>
                </li>
            </ul>

        </li>
    </ul>
    <ul class="list-goods-item mt-list-per marbox mb20">
        <li class="mt-ph mt-per">
            <p><a href="javascript:">我的商城</a></p>
        </li>
        <li class="list">
          <a href="{:url('carts/index')}">
            <div class="">
              <i class="ico"></i>
              <span>购物车 >> </span>
            </div>
          </a>
          <a href="{:url('logs/index')}">
            <div class="">
              <i class="ico"></i>
              <span>预约下单 >> </span>
            </div>
          </a>
          <a href="{:url('order/orderlist')}">
            <div class="">
              <i class="ico"></i>
              <span>我的订单 >> </span>
            </div>
          </a>
          <a href="{:url('favorite/index')}">
            <div class="">
              <i class="ico"></i>
              <span>我的收藏 >> </span>
            </div>
          </a>
        </li>
    </ul>

    <ul class="list-goods-item mt-list-per mt-per-user marbox">
        <li class="mt-ph mt-per ">
            <p><a href="javascript:">我的信息</a></p>
        </li>
        <li class="list">
          <a href="{:url('user/info')}">
            <div class="">
              <i class="ico"></i>
              <span>账号信息 >> </span>
            </div>
          </a>
          <a href="{:url('shop/login/forgetPassword')}">
            <div class="">
              <i class="ico"></i>
              <span>密码管理 >> </span>
            </div>
          </a>
        </li>
    </ul>

</div>
