
<!-- content start -->
<div class="h-container">
    <div class="h-container-head"></div>
    <div class="h-content details-alliance">
        <div class="h-content-logo-lt"></div>
        <div class="h-content-logo-rt"></div>
        <div class="details-alliance-head h-content-container font-color-pink">
            <a href="index" class="font-color-pink">整装联盟</a>
            &nbsp;&gt;&nbsp;
            <a  class="font-color-pink">联盟详情</a>
        </div>
        <div class="details-alliance-body h-content-container">
            <div class="details-alliance-body-title font-color-gold">
                {$unionInfo.union_name}
            </div>
            <div class="details-alliance-body-img">
                <img src="{$unionInfo.log_pic}@w1004_h447.png" />
            </div>
            <div class="details-alliance-body-text font-color-gray">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{$unionInfo.content}
            </div>
            <div class="details-alliance-body-flt"></div>
            <div class="details-alliance-body-fgt"></div>
        </div>
    </div>
</div>
<!-- content end -->

