{__NOLAYOUT__}
{include file="layout/header" /}
<link rel="stylesheet" href="{$Think.CSS_PATH}cut-style.css" media="screen" title="no title" charset="utf-8">
<div class="re-layui order-agree">
    <form class="js-ajax-form" action="{:url('seller/Order/orderRefundVerify')}" onkeydown="if(event.keyCode==13)return false;" method="post">
        <input type="hidden" name="orderId" value="{$order_info.order_id}">
        <input type="hidden" name="type" value="1">
        <input type="hidden" name="refund_amount" value="{$refund_amount}">
        <table class="table"><tbody>
        <tr>
            <td class="td-l-na">退款金额：</td>
            <td>{$refund_amount}元</td>
        </tr>
        <tr>
            <td class="td-l-na">返回买家{$payment_name}：</td>
            <td>{$payment_name}</td>
        </tr>
        <tr>
            <td colspan="2" class="td-ps">确认后将立即退到买家账户</td>
        </tr>
        <tr class="b0">
            <td colspan="4" class="b0">
                <div class="text-center mt15">
                    <button type="button" class="btn btn-warning max-bg js-ajax-submit">确定</button>
                    <button type="button" class="btn max-bg return">取消</button>
                </div>
            </td>
        </tr>

        </tbody></table></form>
</div>
<script src="{$Think.JS_PATH}wind.js" charset="utf-8"></script>
<script src="{$Think.JS_PATH}ajaxForm.js" charset="utf-8"></script>
<script type="text/javascript">
    $(function(){
        var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
        $('button.return').click(function(){
            parent.layer.close(index);
            return false;
        });
        $('.js-ajax-submit').click(function(){
            var $btn = $(this);
                var $form=$(".js-ajax-form");
                $form.ajaxSubmit({
                    url: $btn.data('action') ? $btn.data('action') : $form.attr('action'), //按钮上是否自定义提交地址(多按钮情况)
                    dataType: 'json',
                    beforeSubmit: function (arr, $form, options) {
                        $btn.data("loading",true);
                        var text = $btn.text();
                        //按钮文案、状态修改
                        $btn.text(text + '中...').prop('disabled', true).addClass('disabled');
                    },
                    success: function (data, statusText, xhr, $form) {
                        var text = $btn.text();
                        layer.msg(data.msg);
                        //按钮文案、状态修改
                        $btn.removeClass('disabled').prop('disabled', false).text(text.replace('中...', '')).parent().find('span').remove();
                        if (data.code == 1) {
                            var index = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(index);
                            parent.location.reload();
                        }
                    },
                    error:function(xhr,e,statusText){
                        layer.msg(statusText);
                    }
                });
            return false;
        });
    })
</script>
