{__NOLAYOUT__}
{include file="layout/header" /}
<div class="re-layui order-refund">
    <form class="js-ajax-form" action="{:url('seller/login/editpassword')}" method="post" onkeydown="if(event.keyCode==13)return false;">
        <input type="hidden"  name="type" value="1">
        <input type="hidden"  name="memberId" value="{$data.member_id}">
        <table class="table"><tbody>
        <tr class="td-num">
            <td class="td-l-na">输入密码：</td>
            <td><input maxlength="18" type="password" name="password" class="form-control h30 mb5"  autocomplete="off" value=""></td>
        </tr>
        <tr class="td-num">
            <td class="td-l-na">再次输入密码：</td>
            <td><input  maxlength="18" type="password" name="repassword" class="form-control h30 mb5" autocomplete="off" value=""></td>
        </tr>
        <tr class="b0">
            <td colspan="4" class="b0">
                <div class="text-center mt10">
                    <button type="button" class="btn btn-warning max-bg js-ajax-submit" id="judge">确定</button>
                    <button type="button" class="btn max-bg return">取消</button>
                </div>
            </td>
        </tr>
        </tbody></table></form>
</div>
<!--自定义的工具类-->
<script src="{$Think.JS_PATH}wind.js" charset="utf-8"></script>
<script src="{$Think.JS_COMMON_PATH}jquery.validation.min.js" charset="utf-8"></script>
<script src="{$Think.JS_PATH}ajaxForm.js" charset="utf-8"></script>
<script src="{$Think.JS_PATH}jQuery.md5.js" charset="utf-8"></script>
<script>
    $(function(){
        //取消按钮操作
        var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
        $('.return').click(function(){
            parent.layer.close(index);
        });
        $(".js-ajax-form").validate({
            rules: {
                password: {
                    required: true,
                    rangelength:[6,18]
                },
                repassword: {
                    equalTo:"input[name='password']"
                }
            },
            messages: {
                password: {
                    required: '密码不能为空',
                    rangelength: '密码长度必须是6到18位'
                },
                repassword: {
                    equalTo: '必须和首次输入的密码相同'
                }
            }
        })
        $('.js-ajax-submit').click(function(){
            var $btn = $(this);
            if($(".js-ajax-form").valid()){
                var $form=$(".js-ajax-form");
                var arr = new Array();
                $form.find('input[type="password"]').each(function(i){
                    var value = $.trim($(this).val());//去掉首尾空格
                    arr[i] = value;
                    if( arr[i].length >=6 && arr[i].length <= 18 ){
                        $(this).val($.md5(arr[i]));
                    }
                });
                $form.ajaxSubmit({
                    url: $btn.data('action') ? $btn.data('action') : $form.attr('action'), //按钮上是否自定义提交地址(多按钮情况)
                    dataType: 'json',
                    beforeSubmit: function (arr, $form, options) {
                        $btn.data("loading",true);
                        var text = $btn.text();
                        //按钮文案、状态修改
                        $btn.text(text + '中...').prop('disabled', true).addClass('disabled');
                    },
                    success: function (data, statusText, xhr, $form) {
                        var text = $btn.text();
                        //按钮文案、状态修改
                        $btn.removeClass('disabled').prop('disabled', false).text(text.replace('中...', '')).parent().find('span').remove();
                        layer.msg(data.msg);
                        if (data.code == 1) {
                            var index = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(index);
                            parent.location.reload();
                        }
                    },
                    error:function(xhr,e,statusText){
                        layer.msg(statusText);
                    }
                });
            }
            return false;
        });
    })
</script>



