<div class="prompt-box">
    <ul>
        <li class="top-prompt">
            <h3>操作提示 <i class="icon-caret-down"></i></h3>
        </li>
        <li class="list-desc">
            <p><i class="icon-circle"></i>基础配置信息</p>
        </li>
    </ul>
</div>
<div class="col-form">
    <form class="js-ajax-form form-inline" action="addPost" method="post">
        <span>QQ</span>
        <div class="input-group">
            <input type="text" name="qq" class="form-control" value="{$settingList.qq|default=''}" style="width: 300px">
            <span class="input-group-btn">
                <button class="btn btn-default js-ajax-submit">提交</button>
            </span>
        </div>
    </form>
</div>
<!--自定义的工具类-->
<script src="{$Think.JS_PATH}wind.js" charset="utf-8"></script>
<script src="{$Think.JS_PATH}common.js" charset="utf-8"></script>