<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="renderer" content="webkit|ie-comp|ie-stand" />
    <link rel="stylesheet" href="{$Think.CSS_PATH}base.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="{$Think.CSS_PATH}style.css" media="screen" title="no title" charset="utf-8">
    <script src="{$Think.JS_PATH}jquery-1.9.1.min.js" charset="utf-8"></script>
    <script src="{$Think.JS_PATH}idangerous.swiper.min.js" charset="utf-8"></script>
    <script src="{$Think.JS_PATH}placeholder.js" charset="utf-8"></script>
    <script src="{$Think.JS_PATH}jquery.validation.min.js" charset="utf-8"></script>
    <script src="{$Think.JS_PATH}bootstrap.min.js" charset="utf-8"></script>
    <script src="{$Think.JS_PATH}layer/layer.js" charset="utf-8"></script>
    <script src="{$Think.JS_PATH}jQuery.md5.js" charset="utf-8"></script>
    <title>木筑网-找回密码</title>
    <!--[if lt IE 9]>
    <script src="{$Think.JS_PATH}IE9.js"></script>
    <script src="{$Think.JS_PATH}html5shiv.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
        $(function() {
            var browser = {
                versions: function() {
                    var u = navigator.userAgent,
                        app = navigator.appVersion;
                    var ios = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/);
                    var android = u.indexOf('Android') > -1 || u.indexOf('Linux') > -1;
                    if (ios) {
                        $(window).bind('resize load', function() {
                            $("body").css("zoom", $(window).width() / 1210);
                            $("body").css("display", "block");
                        });
                    }
                    if (android) {
                        $(window).bind('resize load', function() {
                            $("body").css("zoom", $(window).width() / 1210);
                            $("body").css("display", "block");
                        });

                    }
                }()
            }

        })
    </script>

</head>

<body>

<!-- content start  -->
<div class="container">
    <div class="login-logo">
        <div class=" marbox">
            <p>
                <a href="/"><img src="{$Think.IMG_PATH}logo.png" alt="" /></a>
            </p>
            <p class="info">
                <a href="/"><img src="{$Think.IMG_PATH}logo-info.png" alt="" /></a>
            </p>
        </div>
    </div>
    <div class="login-main reg-main">
        <ul class="marbox">
            <li class="form-box">
                <form class="" id="form" action="{:url('shop/login/resetPassword')}" method="post">
                    <input type="hidden" name="sub" value="ok">
                    <div class="user-item">
                        <p class="fl">找回密码</p>
                        <p class="fr"><a href="register">注册</a>{if (!$is_login)}/<a href="login">登录</a>{/if}</p>
                        <p class="clear"></p>
                    </div>
                    <div class="form-item">
                        <p class="">
                            <label class="lab-ys">手机号</label>
                            <span>
                                {if ($is_login)}
                                <input type="text" id="phone" name="phone" data-placement="top" readonly  class="intxt required" value="{$phone}">
                                {else}
                                <input type="text" id="phone" name="phone" data-placement="top"  class="intxt required" value="">
                                {/if}
                            </span>
                        </p>
                        <p class="yz-info">
                            <label class="lab-ys">验证码</label>
                            <span class="yzm righttooltip"><input type="text" data-placement="top" name="authCode" id="authCode" class="intxt  required" value="" maxlength="6"></span>
                            <a id="getAuthCode" href="javascript:void(0);">点击获取</a>
                            <label for="authCode" id="sms-error-msg" style="display: none;margin-left: 88px;color: #ffffff"></label>
                        </p>
                        <p class="sub">
                            <span><input type="button" id="submitBtn" value="确 定"></span>
                        </p>
                    </div>
                </form>
            </li>
            <li class="clear"></li>
        </ul>

    </div>

</div>
<!-- content end  -->
{include file="layout/footer" /}

<script type="text/javascript">
    $(function () {
        jQuery.validator.addMethod("isMobile", function(value, element) {
            var length = value.length;
            var regPhone = /^1([3578]\d|4[57])\d{8}$/;
            return this.optional(element) || (length == 11 && regPhone.test(value));
        }, "请正确填写您的手机号码");
        //表单验证
        $("#form").validate({
            rules: {
                phone: {
                    required: true,
                    isMobile:true,
                    remote  : {
                        url :'checkPhone',
                        type:'post',
                        async: false,  // true为异步，false为同步
                        data:{
                            phone : function(){
                                return $('#phone').val();
                            },
                            type: function(){return 1;}
                        }
                    }
                },
                authCode: {
                    required: true
                }
            },
            messages: {
                phone: {
                    required: '请输入您的电话号码',
                    isMobile:'请正确填写您的手机号码',
                    remote:'手机号码未注册，请注册'
                },
                authCode: {
                    required: '请输入验证码'
                }
            },
            errorClass: "error",
            success: 'valid',
            unhighlight: function (element, errorClass, validClass) {
                $(element).tooltip('destroy').removeClass(errorClass);
            },
            errorPlacement: function (label, element) {
                $(element).tooltip('destroy'); /*必需*/
                $(element).attr('title', $(label).text()).tooltip('show');
            }
        });

        //短信验证码验证
        var code = false;
        $("#authCode").keyup(function () {
            if ($(this).val().length == 6) {
                if ($("#form").validate().element($("#phone"))) {
                    $.ajax({
                        url: "verifyCode",
                        type: "post",
                        dataType: 'json',
                        data: {
                            code: $(this).val(),
                            phone: $("#phone").val()
                        },
                        success: function (data) {
                            if (data.code == 1) {
                                code = true;
                                $("#sms-error-msg").hide();
                                $("#authCode").tooltip('destroy')
                            } else {
                                code = false;
                                $("#sms-error-msg").html(data.msg)
//                                $("#sms-error-msg").show();
                                $("#authCode").attr('title', $("#sms-error-msg").text()).tooltip('show');
                                return false;
                            }
                        },
                        error: function () {
                            code = false;
                            $("#sms-error-msg").html("验证码错误11");
                            $("#sms-error-msg").show();
                        }
                    });
                }else {
                    $("#authCode").attr('title', '验证码错误').tooltip('show');
                    //$("#phone").focus();
                }
            } else {
                $("#sms-error-msg").hide();
                return false;
            }
        });

        //点击获取验证码按钮
        $("#getAuthCode").on("click", function () {
            var result = $("#form").validate().element($("#phone"));
            if ( result ) {
                var p = $(this).parent();
                if (!p.hasClass("auth_code")) {
                    $.ajax({
                        url: 'getAuthCode',
                        data: {
                            phone: $("#phone").val()
                        },
                        dataType: 'json',
                        async: false,
                        type: 'get',
                        success: function (data) {
                            if ( data.code != 2) {
                                layer.msg(data.msg);
                            }
                            else{
                                layer.msg(data.msg);
                                p.addClass("auth_code");
                                var time = 60;
                                var code_time = setInterval(function () {
                                    if (time == 0) {
                                        clearInterval(code_time);
                                        $("#getAuthCode").html("获取验证码").parent().removeClass("auth_code");
                                        return;
                                    }
                                    $("#getAuthCode").html("获取验证码(" + (time--) + ")");
                                }, 1000);
                            }
                        },
                        error: function (data) {
                            layer.msg('请检测手机号是否正确');
                        }
                    });
                }
            }
            else {
                $("#phone").focus();
            }

        });

        //点击确定按钮
        $('#submitBtn').click(function(){
            if($("#form").valid() && code == true){
                $("#form").submit();
            }
        });

    });
</script>
