<!-- content start  -->
<div class="container">
    <div class="login-main reg-main">
        <ul class="marbox">
            <li class="form-box">
                <form class="" id="form"  method="post">
                    <input type="hidden" value="{$phone}" name="phone" id="phone">
                    <input type="hidden" value="{$is_login}" name="is_login" id="is_login">
                    <input type="hidden" name="__token__" value="{$Request.token}" />
                    <div class="user-item">
                        <p class="fl">重置密码</p>
                        <p class="fr"><a href="register">注册</a>/<a href="login">登录</a></p>
                        <p class="clear"></p>
                    </div>
                    <div class="form-item">
                        <p class="">
                            <label class="lab-ys" >登入密码</label>
                            <span><input type="password" id="password" name="password" data-placement="top"  class="intxt required" value="" placeholder="请录入6-18位字符密码"></span>
                        </p>
                        <p class="">
                            <label class="lab-ys">再次录入</label>
                            <span><input type="password" id="repeat_password" name="repeat_password" data-placement="top"  class="intxt required" value="" placeholder="请录入6-18位字符密码"></span>
                        </p>
                        <p class="sub">
                            <span><input type="button" id="submitBtn" value="确 定"></span>
                        </p>
                    </div>
                </form>
                <div class="db-info pb50">
                </div>
            </li>
            <li class="clear"></li>
        </ul>

    </div>

</div>
<script src="{$Think.JS_PATH}jquery.validation.min.js" charset="utf-8"></script>
<script src="{$Think.JS_PATH}bootstrap.min.js" charset="utf-8"></script>
<script src="{$Think.JS_PATH}jQuery.md5.js" charset="utf-8"></script>
<script type="text/javascript">
    $(function () {
        //清空表单内容
        $("#password").val("");
        $("#repeat_password").val("");
        $("#password").unbind("blur");
        $("#repeat_password").unbind("blur");

        //校验密码：只能输入6-18个字母、数字、下划线
        jQuery.validator.addMethod("iszw", function(value, element) {
            value = $.trim(value);
            if(value=='') {
                return false;
                element.val('');
            }
            var patrn=/^(\w){6,18}$/;
            return patrn.test(value);
        }, "请录入6-18位字符密码");

        //表单验证
        $("#form").validate({
            rules: {
                password: {
                    required: true,
                    minlength: 6,
                    maxlength: 18,
                    iszw:true
                },
                repeat_password: {
                    required: true,
                    equalTo: '#password',
                    minlength: 6,
                    iszw:true
                }
            },
            messages: {
                password: {
                    required: '请输入密码',
                    minlength: '密码不能小于6位数',
                    maxlength: '密码最多为18位',
                    iszw : '建议使用字母、数字或下划线组合，6-18个字符'
                },
                repeat_password: {
                    required: '请再次输入密码',
                    equalTo: '两次密码输入不一致',
                    minlength: '密码不能小于6位数',
                    iszw : '建议使用字母、数字或下划线组合，6-18个字符'
                }
            },
            errorClass: "error",
            success: 'valid',
            unhighlight: function (element, errorClass, validClass) {
                $(element).tooltip('destroy').removeClass(errorClass);
            },
            errorPlacement: function (label, element) {
                $(element).tooltip('destroy'); /*必需*/
                $(element).attr('title', $(label).text()).tooltip('show');
            }
        });

        //点击确定按钮
        $('#submitBtn').click(function(){
            if( $("#form").valid() ){
                $.post('{:url("shop/login/resetDo")}', {
                    phone: $("#phone").val(),
                    is_login: $("#is_login").val(),
                    password :$.md5( $("#password").val() ),
                    repeat_password: $.md5( $("#repeat_password").val() ),
                    __token__:$('input[name="__token__"]').val()
                }, function( response ){
                    layer.msg(response.msg);
                    if ( response.code == 1 ) {
                        window.location.href = "{:url('shop/login/login')}";
                    }
                })
            }
        });

    });
</script>
