
<div class="prompt-box">
    <ul>
        <li class="top-prompt">
            <h3>操作提示 <i class="icon-caret-down"></i></h3>
        </li>
        <li class="list-desc">
            <p><i class="icon-circle"></i>查看流程子模块的详细信息</p>
        </li>
    </ul>
</div>
<div class="sheet-box">
    <table class="table">
        <tbody>
        <tr class="goods-tr-bg">
            <th colspan="4"><h3>流程子模块信息</h3></th>
        </tr>
        <tr>
            <td width="150px"><div><h3>流程子模块标题</h3></div></td>
            <td>{$info.title}</td>
        </tr>

        <tr>
            <td><div><h3>流程子模块显示图</h3></div></td>
            <td><img src="{$info.img_url}@w100_h100.png" width="100px" height="100px"></td>
        </tr>

        <tr>
            <td><div><h3>流程分类</h3></div></td>
            <td>{$info.cate_name}</td>
        </tr>

        <tr>
            <td><div><h3>流程子模块排序</h3></div></td>
            <td>{$info.sort}</td>
        </tr>

        <tr>
            <td><div><h3>流程子模块说明</h3></div></td>
            <td>{$info.content}</td>
        </tr>

        <tr class="b0">
            <td colspan="4" class="b0">
                <div class="text-center">
                    <button type="button" class="btn max-bg" onclick="history.go(-1)">返回</button>
                </div>
            </td>
        </tr>

        </tbody></table>
</div>
<!--自定义的工具类-->
<script src="{$Think.JS_PATH}wind.js" charset="utf-8"></script>
<script src="{$Think.JS_PATH}common.js" charset="utf-8"></script>
