<!-- content start -->
<div class="container">
    <ul class="list-box content-box mt-fina-raise mt-odr-list mt-collect">
        <li class="goods-sort">
            <ul class="marbox">
                <li class="mt-xb">
                    <div>
                        <span></span>
                        <span></span>
                    </div>
                </li>
                <li class="mt-position">
                    <h3><a href="{:url('/shop/user/index')}">个人中心</a> > <a href="{:url('/shop/favorite/index/type/1')}">我的收藏</a></h3>
                </li>
                <li class="mt-fn-bt">
                    <p><a href="{:url('index')}">商品收藏</a> </p>
                    <p><a href="{:url('index',['type'=>1])}" class="cus">整装收藏</a></p>
                    <p><a href="{:url('index',['type'=>2])}">实例收藏</a></p>
                </li>
            </ul>
        </li>
    </ul>
    <ul class="list-goods-item shopp-item marbox mt-odr-list">
        <li class="mt-hb">
            <span></span>
            <span></span>
        </li>
        <li class="shop-seach">
            <div>
                <form class="cart_search" onsubmit="return valiSearch('cart_search');" action="{:url('index')}" method="post">
                    <input type="text" id="cart_search" name="search" class="text goods_name_1" value="{if !empty($search_name)}{$search_name}{/if}" placeholder="" autocomplete="off">
                    <ul class="cache-seach"></ul>
                    <input type="hidden" name="type" value="{$tp}">
                    <input type="hidden" name="goods_type" value="{$goodsType}">
                    <input type="submit" value="" class="sub">
                </form>
            </div>
        </li>
        <li class="mt-list-box">
            <div class="mt-odr-bt">
                <p><a href="{:url('shop/Favorite/index','goods_type=all&type=1')}" {if $goodsType == 'all'} class="combg-b" {/if}>所有商品</a></p>
                <p><a href="{:url('shop/Favorite/index','goods_type=lost&type=1')}" {if $goodsType == 'lost'} class="combg-b" {/if}>失效</a><span>{$lostCount}</span></p>
            </div>
        </li>
        <li class="mt-collect-goods-list">
            <div class="chk-all">
                {if count($list) > 0}
                <p>
                    <input type="checkbox" class="all" name="chk-all" id="chk-all">
                    <label for="chk-all">全选</label>
                </p>
                <p><a href="javascript:void(0);" id="del">删除</a></p>
                {else}
                {if !empty($search_name)}
                <p>您还没有收藏此类宝贝，请收藏！</p>
                {else}
                <p>您还没有收藏，请收藏！</p>
                {/if}
                {/if}
            </div>
            <div class="col-goods-list">
                <ul class="mb50">
                    {foreach $list as $val}
                    <li class="combg-h2">
                        <div>
                            <p><input type="checkbox" nc_type="eachGoodsCheckBox" fav-id="{$val.id}"></p>
                            <p style="width: 150px">{if condition="mb_strlen($val.name,'utf-8') > 9"}{$val.name|mb_substr=0,9,'utf-8'}...{else /}{$val.name}{/if}</p>
                            <p class="fr">{$val.acreage}<span>m<sup>2</sup></span></p>
                        </div>
                        <div>
                            <a href="{:url('shop/logs/detail',['id'=>$val.logs_id])}"><img class="lazy" src="{$val.cover}" alt="" /></a>
                            {if $val.is_delete==1 ||  $val.goods_verify!= 1}
                            <p class="mt-failure combg-h"><img src="{$Think.IMG_PATH}ico-failure.png" alt="" /></p>
                            {/if}
                        </div>
                    </li>
                    {/foreach}
                </ul>
            </div>

        </li>
        <li class="order-goods-table-pages">
            <div>
                <div class="clear"></div>
                {$page}
            </div>
        </li>
    </ul>
</div>
<!-- content end -->
<script type="text/javascript">
    $(function(){
        //商品全选反选
        $('input.all').click(function(event) {
            if($(this).is(':checked')){
                $('.col-goods-list :checkbox').prop('checked', true);
                $('.col-goods-list :checkbox:disabled').prop('checked',false);
            }else{
                $('.col-goods-list :checkbox').prop('checked', false)
            }
        });

        //单个商品选中
        $('input[nc_type="eachGoodsCheckBox"]').on('click',function(){
            if (!$(this).is(":checked")) {
                $('input.all').prop('checked', false);
            }
        });

        //删除
        $('#del').click(function(){
            var obj = $('.col-goods-list').find('input[nc_type="eachGoodsCheckBox"]:checked');
            if (obj.size() == 0) {
                layer.msg('请选中要删除的收藏');
                return false;
            }else {
                var id_str = '';
                obj.each(function() {
                    id_str += $(this).attr('fav-id') + ',';
                });
                id_str = id_str.substr(0, (id_str.length - 1));
                //询问框
                layer.open({
                    content: '您确定要删除吗？'
                    ,btn: ['确定', '不要']
                    ,yes: function(index){
                        $.getJSON('{:url("shop/Favorite/delete")}?id=' + id_str, function (result) {
                            layer.msg(result.msg);
                            if (result.code == 1) {
                                location.reload();
                            }
                        });
                    }
                });
            }
        });
    });
</script>
