
<link rel="stylesheet" href="{$Think.CSS_PATH}webuploader.css" media="screen" title="no title" charset="utf-8">

<!--<script src="{$Think.JS_PATH}jquery-1.9.1.min.js" charset="utf-8"></script>-->
<div class="prompt-box">

    <ul>
        <li class="top-prompt">
            <h3>操作提示 <i class="icon-caret-down"></i></h3>
        </li>
        <li class="list-desc">
            <p><i class="icon-circle"></i>编辑商品分类页面，其中分类名称、类型以及排序为必填项</p>
        </li>
    </ul>
</div>
<div class="sheet-box">
<form class="js-ajax-form" action="doEdit" method="post">
    <table class="table">
        <tbody>

        <tr class="goods-tr-bg">
            <th colspan="4">
                <h3>添加商品分类</h3>
            </th>
        </tr>
        <tr>
            <td>
                <div>
                    <h3>分类名称*</h3>
                </div>
            </td>
            <td>
                <div class="col-xs-5">
                    <div class="one-text">
                        <input type="text" name="name" value="{$data.name}" class="form-control h30 mb5">
                        <input type="hidden" name="category_id" value="{$data.category_id}"/>
                        <span>这里是一段文字描述</span>
                    </div>
                </div>
            </td>

        </tr>

        <!--2017-1-4 注释掉-->
        <!--<tr id="mainImage">-->
            <!--<td>-->
                <!--<div>-->
                    <!--<h3>分类图片</h3>-->
                <!--</div>-->
            <!--</td>-->
            <!--<td colspan="3">-->
                <!--<div class="uploadimgOne">-->
                    <!--{if condition="!empty($data.category_image)"}-->
                    <!--<div id="WU_FILE_0" class="file-item thumbnail">-->
                        <!--<div class="up-imgbox">-->
                            <!--<img src="{$data.category_image}" height=""/>-->
                        <!--</div>-->
                        <!--<div>-->
                            <!--<a class="del_pic">删除</a>-->
                        <!--</div>-->
                        <!--<input type="hidden" name="image" value="{$data.category_image}" class="imgName-up-item">-->
                    <!--</div>-->
                    <!--{/if}-->
                <!--</div>-->
                <!--<div class="btn-up-zbox">-->
                    <!--<div class="clear"></div>-->
                        <!--<span class="input-group-btn one-text">-->
                        <!--<a href="javascript:void(0)" class="btn btn-default btn_addfile btn-one-upload">-->
                            <!--<span><i class="icon-circle-arrow-up"></i> 图片上传</span>-->
                        <!--</a>-->
                        <!--</span>-->
                <!--</div>-->

            <!--</td>-->

        <!--</tr>-->
        <!--2017-1-4 注释掉-->


        <!--<tr>-->
            <!--<td>-->
                <!--<div>-->
                    <!--<h3>分类图片</h3>-->
                <!--</div>-->
            <!--</td>-->
            <!--<td>-->
                <!--<div class="col-xs-5">-->
                    <!--<div class="input-group">-->
                        <!--<input type="text" name="image" class="form-control h30" value="{$data.category_image}" id="imageUrl">-->
                                        <!--<span class="input-group-btn">-->
                              <!--<a href="javascript:void(0)" id="filePicker" style="padding: 0 0;" class="btn btn-default btn_addfile">-->
                                  <!--<span ><i  class="icon-circle-arrow-up"></i> 文件上传</span>-->
                                  <!--&lt;!&ndash;<input type="file" class="form-control">&ndash;&gt;-->
                              <!--</a>-->
                                        <!--</span>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</td>-->
        <!--</tr>-->

        <!--<tr>-->
            <!--<td>-->
                <!--<div>-->
                    <!--<h3>上级分类</h3>-->
                <!--</div>-->
            <!--</td>-->
            <!--<td>-->
                <!--<div class="col-xs-5">-->
                    <!--<div class="form-group">-->
                        <!--<select name="pid" class="form-control">-->
                            <!--<option value="0">顶级分类</option>-->

                            <!--{foreach $category as $k=>$v}-->
                                <!--{if condition="$data.parent_id eq $v.category_id"}-->
                                    <!--<option value="{$v.category_id}" selected>{if condition="$v.level"}{$v.level}{/if}{$v.name}</option>-->
                                 <!--{else/}-->
                                     <!--<option value="{$v.category_id}">{if condition="$v.level"}{$v.level}{/if}{$v.name}</option>-->
                                <!--{/if}-->
                            <!--{/foreach}-->
                        <!--</select>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</td>-->
        <!--</tr>-->


        <tr>
            <td>
                <h3>类型设置*</h3>
            </td>
            <td colspan="3" class="chk-one chk_select_one">
                <!--<label class="control-label">商品</label>-->
                {foreach $types as $k=>$v}
                <div class="input-group-list">
                    {if condition="$v.type_id eq $data.type_id"}
                        <input type="checkbox" name="type" value="{$v.type_id}" id="list_c_{$k}" checked="checked" class="chk_1">
                        <label for="list_c_{$k}" class="lab-t cus"></label>
                    {else \}
                        <input type="checkbox" name="type" value="{$v.type_id}" id="list_c_{$k}" class="chk_1">
                        <label for="list_c_{$k}" class="lab-t"></label>
                    {/if}
                    <label for="list_c_{$k}" class="font-min">{$v.type_name}
                    </label>
                </div>
                {/foreach}

            </td>
        </tr>

        <tr>
            <td>
                <div>
                    <h3>类型关联</h3>
                </div>
            </td>
            <td>
                <div class="input-group-list chk-one">
                    {if condition="$data.type_associated"}
                    <input type="checkbox" name="type_associated" value="1" id="checkbox_a2_0" checked="checked"  class="chk_1">
                    <label for="checkbox_a2_0" class="lab-t cus"></label>
                    {else \}
                    <input type="checkbox" name="type_associated" value="1" id="checkbox_a2_0"   class="chk_1">
                    <label for="checkbox_a2_0" class="lab-t"></label>
                    {/if}
                    <label for="checkbox_a2_0" class="font-min">关联到子分类                   </label>
                </div>



            </td>

        </tr>

        <tr>
            <td>
                <div>
                    <h3>排序*</h3>
                </div>
            </td>
            <td>
                <div class="col-xs-5">
                    <div class="one-text">
                        <input type="text" name="sort" value="{$data.sort}" class="form-control h30 mb5">
                        <!--<span>这里是一段文字描述</span>-->
                    </div>
                </div>
            </td>

        </tr>


        <tr>
            <td>
                <div>
                    <h3>分类描述</h3>
                </div>
            </td>
            <td>
                <div class="col-xs-11">
                    <div class="one-text">
                        <textarea name="description" rows="4"  class="form-control">{$data.category_description}</textarea>
                    </div>
                </div>
            </td>
        </tr>


        <tr class="b0">
            <td colspan="4" class="b0">
                <div class="text-center">
                    <button type="submit" class="btn btn-warning max-bg js-ajax-submit">编辑</button>
                    <a href="javascript:window.history.go(-1);"><button type="button" class="btn max-bg">返回</button></a>
                </div>

            </td>
        </tr>

        </tbody></table>
</form>
</div>
<!--自定义的工具类-->
<script src="{$Think.JS_PATH}wind.js" charset="utf-8"></script>
<script src="{$Think.JS_PATH}common.js" charset="utf-8"></script>
<script src="{$Think.JS_PATH}upload/uploader.js" charset="utf-8"></script>
<script src="{$Think.JS_PATH}webuploader.js" charset="utf-8"></script>
<script>

    $(function(){
        //图片上传
        $('.btn-one-upload').uploader({
            server: '/index/index/uploadFile', //上传路径
            container: '.uploadimgOne', //图片容器
            swfObj:'{$Think.JS_PATH}webuploader/Uploader.swf',
            num: 1, //上传数量
            inputName: 'image',//input name值
            btnDsab:'.js-ajax-submit',
            imgBtn:'.btn-one-upload'
        });

        $('.chk_select_one input').click(function(e){

            var forThis = $(this);
            $('.chk_select_one input').removeClass('cus');
            $('.chk_select_one input').attr('checked',false);
            $('.chk_select_one input').next().removeClass('cus');
            $('.chk_select_one input').next().next().removeClass('cus');
            e.stopPropagation();

            forThis.prop('checked',true);
            forThis.next().addClass('cus');
            forThis.next().next().addClass('cus');
        });


    });
</script>
