
<div class="col-form">
    <form class="form-inline" role="form">
        <span>标题</span>
        <div class="input-group">
            <input type="text" name="title" class="form-control text-ra" value="{$search.title}">
        </div>

        <span class="hide">所在位置</span>
        <div class="input-group">
            <select name="location" class="form-control hide">
                <option value="">请选择...</option>
                <option value="0" {if condition="($search.location == 0)" } selected="selected" {/if}>头部</option>
                <option value="1" {if condition="($search.location == 1)" } selected="selected" {/if}>中部</option>
                <option value="2" {if condition="($search.location == 2)" } selected="selected" {/if}>底部</option>
            </select>
            <span class="input-group-btn">
                <button class="btn btn-default search" type="button">搜索</button>
            </span>
        </div>
    </form>
</div>

<div class="table-form-default">
    <table class="table">
        <tr>
            <th class="w10">
                <!-- 商品图片占位 -->
            </th>
            <th class="">排序</th>
            <th class="">标题</th>
            <th class="w150">链接</th>
            <th class="w150">所在位置</th>
            <th class="w150">新窗口打开</th>
            <th class="w150">操作</th>
        </tr>

        <tr class="">
            <td colspan="6">
                <!-- 占位一行 -->
            </td>
        </tr>

        {volist name="tblRows" id="data"}
        <tr class="goods-tr-t0 chk-one">
            <td>
                <input type="checkbox" id="checkbox_a_{$data.id}" class="chk_1 data_check" value="{$data.id}"/>
                <label for="checkbox_a_{$data.id}" class="lab-t"></label>
            </td>
            <td>
                <div class="one-text sort">
                    <input type="text" class="form-control h30 w50" key-id="{$data.id}" value="{$data.sort}">
                </div>
            </td>
            <td>{$data.title}</td>
            <td>{$data.url}</td>
            <td> {if condition="($data.location == 0)" } 
                    头部
                 {elseif condition="($data.location == 1)"/}
                    中部
                 {elseif condition="($data.location == 2)"/}
                    底部
                 {/if}
             </td>
            <td>{$data.new_open}</td>
            <td class="table-handle">
                <span>
                    <a href="edit?id={$data.id}"><i class="icon-pencil"></i>编辑</a>
                </span>
                <span>
                    <a class="js-ajax-delete" href="delete?id={$data.id}"><i class="icon-trash"></i>删除</a>
                </span>
            </td>
        </tr>
        {/volist}

        <tr>
            <td>
                <input type="checkbox" id="checkbox_a1" class="chk_1 all" />
                <label for="checkbox_a1" class="lab-t"></label>
            </td>
            <td colspan="6">
                <label for="checkbox_a1" class="text-left pr15">全选</label>
                <div class="btn-group">
                    <button type="button" class="btn btn-default delete">删除</button>
                </div>
            </td>
        </tr>
    </table>
    {$tblRows->render();}
</div>
<!--自定义的工具类-->
<script src="{$Think.JS_PATH}wind.js" charset="utf-8"></script>
<script src="{$Think.JS_PATH}common.js" charset="utf-8"></script>