<link rel="stylesheet" href="{$Think.JS_PATH}treeTable/treeTable.css">
<script type="text/javascript" src="{$Think.JS_PATH}treeTable/treeTable.js"></script>
<div class="table-form-default">
    <table class="table table-hover table-bordered" id="menus-table">
    	<thead>
            <th>排序</th>
            <th>ID</th>
            <th>应用</th>
            <th>菜单名称</th>
            <th>状态</th>
            <th>操作</th>
    	</thead>
    	<tbody>
            {$categorys}
    	</tbody>
    </table>
</div>
<script type="text/javascript">
$(function(){
    //初始化菜单树
    $("#menus-table").treeTable({
        indent : 20
    });
    $(".input-order").keyup(function (event) {
        var keycode = event.which;
        var sort = parseInt( $(this).val() );
        if (keycode == 13 && !isNaN( sort ) ) {
            $.post('sort',{
                id : $(this).parent().next().text(),
                sort : sort
            }, function(response){
                window.location.reload();
            });
        }
    });
})
</script>